<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <h1 class="entry-title">Aguas de sabores</h1>
        </div>
        <h3 class="ingredients">Ingredientes:</h3> 
        <p> Recipiente de Vidrio  *  Agua potable  *  Frutas</p>
        <div>
            <br>
            <img src="/assets/Recetas/Agua 1.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">

        </div>
        <br/>
        <p>
          El agua es la única bebida recomendada para niños mayores de 6 meses y hasta los 6 años. Sin embargo, a partir 
          del año pueden consumir un poco de jugo de frutas 100% natural y sin azúcar añadida en cantidades limitades.
        </p>
        <div>
                <img src="/assets/Recetas/Agua 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
        <p>
            Para niños menores de 6 años se recomienda <b>no consumir más de 200 ml al día</b>. El jugo de frutas, aún siendo 
            100% natural no ofrece los beneficios que ofrece la fruta, como la fibra y otros nutrientes. 
            Y tanto las frutas como los jugos son altos en azúcares naturalmente presentes en la fruta. Pero 
            la fruta tiene muchas vitaminas, minerales y fibra. En cambio el jugo es casi sólo azúcar.
        </p>
        <p>
          <b>Demasiado jugo</b> en la dieta de tu hijo puede contribuir a problemas, como una <b>nutrición deficiente, obesidad</b> y <b>caries</b>.   
        </p>
        <p>
            <b><u>Una alternativa más saludable</u></b> al jugo y diferente al agua son estas aguas de sabores. En realidad es 
            agua infusionada con frutas y hierbas. Son facilísimas de hacer y deliciosamente refrescantes. Además 
            después* te puedes comer la fruta, super fría y muy jugosa. Perfecto para cuando hace calor. 
            
        </p>
        <p>
            *No sé que tal esté la fruta si la dejas toda la noche pero si la dejas 4 horas queda deliciosa. 
            Voy a hacer el intento con 8 horas (o toda la noche) y les aviso que tal.
        </p>
    
        <h3>
            <b>Instrucciones</b>
        </h3>
        <p>
            Lava y desinfecta muy bien la fruta, hierbas y verduras que vas a utilizar. Córtalas para que quepan en el frasco y suelten su jugo.
        </p>
            <div>
                <img src="/assets/Recetas/Agua 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Cubre la fruta con agua hasta el tope, tapa y refrigera al menos 4 horas o toda la noche. Si lo dejas toda 
                        la noche tendrás un concentrado que podrás diliuir con más agua y tener más cantidad. Si las refrigeras 
                        solamente unas horas, la fruta sigue rica para comer. Va a estar fría y muy jugosa, perfecta para 
                        días calurosos
            </p>
            <div>
                <img src="/assets/Recetas/Agua 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Estos frascos estuvieron 4 horas en el refri porque ya queríamos probarlas. La de fresa y albahaca es novedosa y 
                le gustó a grandes y chicos.
            </p>
            <div>
                <img src="/assets/Recetas/Agua 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <br>
            <h3>
            <b>Instrucciones</b>
        </h3>
            <ol>
                <li>
                    <p>
                       Lava y desinfecta muy bien la fruta, hierbas y verduras que vas a utilizar.
                    </p>
                </li>
                <li>
                    <p>
                       Córtalas hasta que quepan en el frasco y para que suelten su jugo.
                    </p>
                </li>
                <li>
                    <p>
                        Cubre la fruta con agua hasta el tope, tapa y refrigera al menos 4 horas o toda la noche. Si lo dejas toda 
                        la noche tendrás un concentrado que podrás diliuir con más agua y tener más cantidad.
                    </p>
                    </li>
                    <li>
                    <p>
                        Si haces mucho, lo puedes congelar en charolas de cubos y echarle unos cuantos cubos a un vaso de agua.
                    </p>
                </li>
            </ol>