<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Alergias</h1>
            <div>
                <img src="/assets/Alergias851.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Los síntomas de una alergia alimenticia </b>son diarrea, 
                sarpullido y vómito. Las comidas que comúnmente producen alergias son 
                la clara de huevo, pescado y mariscos, trigo, leche de vaca, soya, cítricos 
                y frutos del bosque. Anteriormente se recomendaba que esperaras hasta 
                después del año o a veces hasta los dos para introducir estos alimentos. 
                Ahora los <a href="http://pediatrics.aappublications.org/content/121/1/183.long" target="_blank">estudios</a> indican que el <b>esperar puede incrementar el riesgo</b> de 
                desarrollar una alergia hacia esos alimentos. Es por eso que le puedes 
                dar <%= link_to "prácticamente lo que sea", pages_alimentos_peligrosos_path%>. 
            <p>
            <br/>
                En muchos países, el huevo es uno de los primeros alimentos que se les da 
                a los bebés ya que es un alimento rico en proteína, <%=link_to "hierro", pages_hierro_path%> y fácil de agarrar. 
                Y las fresas y frutos del bosque son casi siempre un gran éxito porque son dulces y también fáciles de agarrar. 
                Olvida la “regla” de esperar 2 o 3 días antes de introducir un alimento nuevo. 
                Esto era relevante cuando el bebé comenzaba sólidos antes de que su 
                sistema digestivo estuviera maduro (antes de los 6 meses). 
            </p>
            <br/>
            <p>
                <b>Todos los bebés deben evitar la miel hasta cumplir un año.</b> 
                La miel puede estar contaminada con esporas del botulismo y el riesgo 
                es mayor en infantes ya que no producen los suficientes ácidos estomacales para neutralizarlos.
            </p>
            </br>  
            <p>
                *Sin embargo si tu o alguien en tu familia tiene alergias alimenticias, 
                platica con tu pediatra antes de introducirle esos alimentos.
            </p>
        </div>
    </div>
</div>