<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Aviso Legal</h1>
            </br>
            <!--<div>
                <img src="/assets/Recetas.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>-->
            </br>
            <p>
                El contenido incluido en este sitio web está concebido para dar un servicio a la comunidad de Internet y está diseñado para ofrecer información general acerca del tema relacionado. La información proporcionada es de carácter general y se ofrece únicamente
                con un propósito informativo. El contenido no pretende en modo alguno sustituir la asesoría profesional y no debe ser interpretado como tal, ya sea que se trate de información médica, científica, financiera o de otra índole. Sólo un profesional
                que haya tenido la oportunidad de interactuar personalmente con usted, el usuario, puede proporcionar asesoría o recomendaciones, ya sea para posibles tratamientos, inversiones u otros propósitos.
            </p>
            <p>Siempre busque el consejo de su médico u otro profesional de la salud calificado para contestar cualquier pregunta que pueda tener sobre alguna condición médica. Ni el contenido, ni ningún otro servicio o información ofrecida por o a través
                de este sitio web están diseñados para ser considerados recomendaciones médicas, diagnósticos o tratamientos, sin la intervención participación de un médico. Nunca ignore el consejo médico o retrase la búsqueda de asesoría debido a que
                leyó algo en este sitio web. Comelones realiza esfuerzos razonles para garantizar que la información incluida en este sitio web sea exacta y esté actualizada; aun así, este sitio web y todo su contenido se proporcionan "tal cual”. </p>
            <p>COMELONES, SUS AFILIADOS, FUNCIONARIOS, DIRECTORES, AGENTES Y EMPLEADOS (EN CONJUNTO "COMELONES"), SUS LICENCIAS Y PROVEEDORES, EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY, RECHAZAN TODAS LAS GARANTÍAS, YA SEAN EXPRESAS O IMPLÍCITAS, LEGALES
                O DE OTRO TIPO, INCLUYENDO, PERO NO LIMITADAS A, LAS GARANTÍAS IMPLÍCITAS DE COMERCIALIZACIÓN, DE NO VIOLACIÓN DE DERECHOS DE TERCEROS Y CALIFICADAS PARA UN PROPÓSITO PARTICULAR. ESPECÍFICAMENTE, COMELONES Y SUS FILIALES NO REPRESENTAN
                NI GARANTIZAN LA EXACTITUD, CONFIILIDAD, INTEGRIDAD O PUNTUALIDAD DEL CONTENIDO, SOFTWARE, TEXTO, GRÁFICOS, HERRAMIENTAS, ENLACES O COMUNICACIONES PROVISTAS EN O A TRAVÉS DEL USO DE ESTE U OTROS SITIOS WEB DE COMELONES, O A TRAVÉS DE COMELONES
                Y SUS AFILIADOS.</p>
            <p>En ningún caso, Comelones y sus afiliados o terceros mencionados en este sitio web, serán responsles por cualquier daño (incluyendo, sin limitación, daños compensatorios, punitivos, incidentales o consecuentes), lesiones personales, muerte
                por negligencia, pérdida de beneficios o daños resultantes de la pérdida de datos o interrupción de negocios que resulten del uso o la incapacidad de usar este sitio web o su contenido, ya sea basados en garantía, contrato, agravio o cualquier
                otra teoría legal, y sean o no Comelones o cualquiera de sus afiliados, o cualquier otro tercero, informados de la posibilidad de tales daños.</p>
            <p>Como recurso, este sitio web contiene enlaces a otros sitios web. Sin embargo, como Comelones no controla el contenido de dichos sitios web y debido a la naturaleza cambiante de las otras páginas web, Comelones y sus afiliados no se hacen
                responsles por el contenido, prácticas o normas de los sitios web que no sean de Comelones. Comelones y sus afiliados no aprueban el contenido de sitios web de terceros. Comelones y sus afiliados no son responsles por el contenido de dichos
                sitios web de terceros, sitios web enmarcados en este sitio web, o anuncios de terceros. Así mismo, no hace ninguna representación o garantía en cuanto a su contenido, exactitud o puntualidad. El uso de dichos sitios web de terceros es
                bajo su propio riesgo y está sujeto a los términos y condiciones de uso de los mencionados sitios web, como está dispuesto en ellos.</p>
            <p>Al usar este sitio web, la información se transmitirá por un medio que está fuera del control de Comelones y sus afiliados. Por lo tanto, Comelones y sus afiliados no asumen ninguna responsilidad por, o relacionada con, el retraso, falla,
                interrupción o corrupción de cualquier dato u otra información transmitidos al estar en conexión mientras se usa este sitio web.
            </p>
            <p><b>DERECHOS DE PROPIEDAD INTELECTUAL</b></p>
            <p>El contenido de este sitio web es propiedad de Comelones . Comelones le autoriza a copiar documentos publicados en este sitio web únicamente para su uso no comercial y personal, considerando que cualquier copia de estos documentos que usted
                haga conservará los derechos de autor y otros avisos de propiedad, así como cualquier exención de responsilidad contenida en los documentos. Con excepción de lo expresado anteriormente, usted no puede copiar, mostrar, descargar, distribuir,
                modificar, reproducir, volver a publicar o retransmitir ninguna información, texto o documentos contenidos en este sitio web o cualquier parte de éstos, en cualquier medio electrónico o en papel, o crear obras derivadas basadas en dichas
                imágenes, texto o documentos, sin el consentimiento expreso y por escrito de la Compañía.</p>
            <p>Ninguna información o declaración contenida aquí será interpretada como una concesión por implicación, impedimento o de otra manera cualquier licencia o derecho bajo cualquier patente, derechos de autor, marca comercial u otro derecho de propiedad
                intelectual de la Compañía o de sus afiliados o terceros. Con excepción de lo expresado anteriormente, ni la información ni las declaraciones aquí contenidas se interpretarán como concesión de licencia o derecho bajo cualquier patente
                de Comelones, derechos de autor o marca comercial. </p>
            <p>Si algún usuario de un documento de Comelones publicado respondera con información, incluyendo datos de retroalimentación, tales como preguntas, comentarios, sugerencias o similares, con respecto al contenido de cualquiera de tales documentos
                de Comelones, dicha información será considerada como no confidencial y Comelones y sus afiliados no tendrá ninguna obligación de ningún tipo con respecto a dicha información y tendrán libertad para reproducir, utilizar, divulgar y distribuir
                la información a otros sin limitaciones. Comelones y sus afiliados serán libres de usar cualquier idea, concepto, know-how o técnicas contenidas en dicha información para cualquier propósito, incluyendo, pero no limitándose a, el desarrollo,
                la fricación o la comercialización de productos que incorporen dicha información.</p>
            <p>
                <b>AVISO DE PRIVACIDAD</b> <p>Los sitios web de Comelones están diseñados para proporcionar información, recursos y privacidad para quienes los utilizan. La salud es un asunto personal, y Comelones se esfuerza por mantener niveles de privacidad y confidencialidad necesarios
                para permitir que los pacientes, los profesionales de la salud, cuidadores y otras personas utilicen nuestros sitios web con confianza. </p>
                <p><b>¿QUÉ INFORMACIÓN RECOPILAMOS?</b></p> 
                <p>Algunos sitios web de Comelones invita a los usuarios a proveer voluntariamente
                información personal, a cambio de servicios o recursos adicionales. La información recopilada de esta manera puede ser de identificación personal, como su nombre y dirección de correo, o no ser personal, como una dirección de correo postal.
                Qué información personal recibirá Comelones es algo determinado totalmente por usted, el usuario.</p> 
                <p>Comelones no recopilará ninguna información de identificación personal automáticamente o sin su conocimiento. Además, la información que voluntariamente
                suministre no se utilizará para recopilar datos adicionales sin su consentimiento. La información de Comelones puede recopilar automáticamente se limita a datos que no son de identificación personal. Ejemplos de estos datos son la duración
                de las visitas de los usuarios a un sitio en particular, las páginas que fueron vistas en un sitio, el tiempo de permanencia en el sitio, etc. Ninguna información recopilada automáticamente puede ser o será utilizada por Comelones para identificar
                personalmente a un usuario específico. Esta información es utilizada exclusivamente para comprender qué secciones de nuestros sitios web son valiosas para nuestros visitantes, qué más les interesaría ver, cómo podemos cubrir mejor sus
                necesidades, así como otros análisis de negocio similares. </p>
                <p><b>COOKIES</b></p> 
                <p>La información no personal automáticamente recolectada puede ser recopilada a través del uso de “cookies”, pequeños archivos que son dejados por un sitio web en el disco
                duro de su computadora, cuando visita dicho sitio. Permiten que el sitio web reconozca su computadora cuando usted regresa al sitio, pero no proporcionan información personal acerca de usted. Las cookies son las herramientas que le permiten
                disfrutar de servicios personalizados y de valor en una variedad de sitios web. Algunos sitios web de Comelones pueden utilizar cookies.</p> 
                <p>La mayoría de los navegadores web incluyen una característica que le permitirá deshilitar las cookies,
                para que no se puedan depositar en su equipo. La sección de "Ayuda" de su navegador normalmente proporciona asistencia para usar esta característica. Desactivar las cookies, sin embargo, puede evitar que disfrute de algunos de los servicios
                especiales ofrecidos por algunos sitios. </p>
                <p><b>CÓMO SU UTILIZARÁ SU INFORMACIÓN PERSONAL</b></p> 
                <p>La información personal que usted nos proporcione será utilizada para proveerle información, servicios e interacción de la investigación relacionados con
                el producto Comelones o programa en el que indicó su interés. Tenemos que permitir el acceso a nuestras bases de datos a vendedores y proveedores que proporcionan a Comelones los servicios necesarios para el proceso de mantener nuestros sitios
                web, para así proporcionarle a usted la información y los servicios requeridos. Ejemplos de éstos son el soporte técnico, mantenimiento de bases de datos, boletines electrónicos, etc. El acceso que estas organizaciones tienen a nuestras
                bases de datos es limitado en la medida necesaria para llevar a cabo dichos servicios.</p> 
                <p>Cualquier Dato Personal facilitado por usted será tratado y almacenado de conformidad con las normas contenidas en la Directiva sobre Protección de
                Datos (95/46 EEC). Al enviar Datos Personales a cualquier sitio web de Comelones, usted manifiesta su consentimiento a las medidas de procesamiento estlecidas en relación con el formulario de envío. De conformidad con la Directiva de Protección
                de Datos, usted tiene el derecho de solicitar y recibir un informe anual detallando sus Datos Personales que Comelones ha almacenado. Sobre la base de esa declaración, usted también tiene derecho a que sus Datos Personales sean eliminados
                o corregidos.</p> 
                <p>Además, Comelones puede ser requerido para facilitar el acceso a información personal con el fin de cumplir con el proceso legal. Con excepción de lo establecido en esta Política de Privacidad, Comelones no venderá, alquilará ni
                de otra forma compartirá su información personal para el uso de terceros.</p>
                <p>
                    Por último, nos reservamos el derecho de utilizar los datos acumulativos y anónimos acerca de los visitantes a nuestro sitio web para una variedad de propósitos
                de negocios, tales como la revisión de las tendencias de uso y el análisis de los cambios en la audiencia del sitio.</p>
                <p><b>ACTUALIZACIONES EN LAS POLÍTICAS </b></p>
                <p>Esta Declaración de Privacidad puede ser modificada de vez en cuando. Usted debe revisarla
                periódicamente para obtener la versión más reciente.</p>
            </p>
        </div>
    </div>
</div>