<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">BLW Tips</h1>
            <div>
                <img src="/assets/851x315/SpoonYogurt.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <div class="container center">
                <footer class="PhotoCred">Foto: <a href="https://www.flickr.com/photos/donnieray/13500916705">Donnie Ray Jones</a></footer>
            </div>
            </br>
            <p>
                Proximamente...mientras checa la
                <%= link_to "'Guia para comenzar'", pages_guia_para_empezar_blw_path%>
                    y ve los videos de abajo.
            </p>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">

                        <h2 id="videoCarlosTed">Carlos González en TEDX Valencia</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vKioOmhIfGU"></iframe>
                        </div>
                        </br>
                        <p>Un video de 18 minutos, práctico y conciso. Se los recomiendo mucho.</p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        <h2 id="videoCarlosTed">120 días de BLW en 5 minutos</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JCQeAtLM7EE"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
