<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Mi bebé toma botella</h1>
            <div>
                <img src="/assets/BabyHand.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">¿Porqué incluir una sección dedicada a los bebés que toman botella?</b> Porque entre baby led weaning y amamantar hay muchos conceptos similares, mismos que a los papás quienes dan botella les podrían ser poco familiares
                o hasta parecerles extraños. Como por ejemplo:
            </p>
            <ul>
                <li>
                    <p>
                        El bebé autocontrola sus patrones alimenticios y la cantidad que ingieren.
                    </p>
                </li>
                <li>
                    <p>
                        El bebé hace grandes esfuerzos para comer (cuesta más trabajo que un botella).
                    </p>
                </li>
                <li>
                    <p>
                        El bebé regula su ingesta de calorías (la leche materna se adapta a las necesidades calóricas del bebé).
                    </p>
                </li>
                <li>
                    <p>
                        El bebé es quien dirige su alimentación (con lactancia a demanda).
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                Todas estas similitudes hacen que baby led weaning o alimentación autorregulada sea la continuación más ‘natural’ a la lactancia. Una madre que ha amamantado, ha visto que su bebé es capaz de dirigir y regular sus patrones alimenticios. Confía que su bebé sepa
                cuánto necesita comer porque lo ha visto durante 6 meses.
            </p>
            <br/>
            <p>
                En cambio, si han sido los papás quienes han llevado el control de la alimentación del bebé hasta ahora, puede ser que les parezca extraño que un bebé sea capaz de dirigir este aspecto él mismo. Pero asegurate que es lo más natural y más sano y un bebé
                que ha sido alimentado con botella puede aprovechar todos los beneficios que ofrece baby led weaning o alimentación autorregulada.
            </p>
            <br/>
            <h2>Respetar las señales de saciedad</h2>
            <p>
                Es esencial seguir respetando las señales de saciedad de tu bebé. Cuando le das su botella y ya no tiene hambre, tu bebé te lo hace saber de diferentes maneras: cerrando los labios, volteando la cabeza o rechazando el biberón con sus manos. De igual
                manera, cuando tu bebé ya no quiera comer, tirará repetitivamente la comida al piso, parecerá aburrido o se querrá bajar de su silla. Cuando esto suceda, hazle caso a tu bebé y pasen a otra cosa. <b>Los papás que ignoran los signos de saciedad
                de sus bebés tienden a sobrealimentarlos</b>, lo que aumenta el riesgo de sobrepeso en sus pequeños. Confía en tu bebé, hay días que tiene más hambre que otros.
            </p>
            <br/>
            <h2>BLW y las bebidas</h2>
            <p>
                Una gran diferencia de baby led weaning o alimentación autorregulada entre bebés que han sido alimentados con botella y aquellos que han sido amamantados es la bebida. La materia grasa de la leche materna suele aumentar durante una sesión. El bebé reconoce este
                cambio y lo utiliza para controlar su consumo de líquidos. Si tiene sed, comerá poco tiempo, tal vez de ambos senos, en cambio si tiene hambre, comerá durante más tiempo. Es por esto que los bebés amamantados a libre demanda no requieren
                de ningún otro líquido.
            </p>
            <br/>
            <p>
                <b>En cambio la fórmula mantiene la misma consistencia y resulta menos refrescante</b>. Es recomendable ofrecer agua* en intervalos regulares una vez que tu bebé comienza a comer cantidades pequeñas de comida para asegurar un suficiente consumo de líquidos. Debes continuar
                con las mismas tomas de leche pero hacerle caso a sus señales de saciedad ya que poco a poco irá tomando menos leche conforme coma más comida. Comenzará a ‘olvidar’ tomas de leche y tomará menos cantidad. Respeta sus señales, deja que
                tu bebé te diga cuando está satisfecho, no hay razón por la que sea otra persona quien decida esto por el.
            </p>
            <br/>
            <p>
                *El <b>agua es la bebida óptima para los bebés y niños menores</b>. No le des ninguna otra bebida aparte de su leche. Incluso el jugo es poco recomendable ya que disminuye el apetito y ha sido relacionado con retraso en el desarrollo, baja estatura
                y obesidad. El jugo contiene vitaminas y minerals pero <b>carece fibra y esta repleto de azúcar</b>. No hay nada más sano que el agua potable.
            </p>
            <div>
                <br/>
            </div>
        </div>
    </div>