<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">¿Cuánto debe comer?</h1>
            <div>
                <img src="/assets/Strawberry.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Al principio probablemente sea 1 “comida” al día.</b> Escribo comida entre comillas porque al principio tu bebé no va a comer nada. Jugará y se divertirá pero será una actividad lúdica más que una comida. Recuerda que
                uno de los objetivos principales de baby led weaning o auto alimentación es crear asociaciones positivas con la comida. <b>La fuente de nutrición de tu bebé sigue 
                siendo la leche</b> y no será hasta alrededor de los 2 años que la comida remplazará todas las tomas de leche materna si así lo desean mamá e hijo.
            </p>
            <br/>
            <p>
                Conforme tu bebé practique y coma más, debes de ir incrementando las comidas para estar en 2 - 3 a los 8 meses, 3 entre los 9 y 11 meses e incrementar 1 o 2 colaciones o “snacks” al día entre los 12 y 24 meses. Esto quiere decir que al año, tu bebé debe
                estar comiendo 3 comidas al día, y 1 o 2 “snacks”. A bajo está una tabla que puedes utilizar como guía, pero cada niño es diferente y puede necesitar más o menos de las cantidades mencionadas.
            </p>
            <br/>
            <p>
                Pero me gusta mucho algo que dice el pediatra y autor Dr. Carlos González:
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b>Ese niño que se come una papilla entera...va a estar peor alimentado porque esa papilla de verduras no lleva proteína, no lleva grasas... en cambio el otro niño que apenas se va a comer un par de guisantes, un
                    trocito de pollo y dos fideos, como después tomará mucha leche, estará mucho mejor alimentado.<b class="quotes">"</b>
                </p>
            </blockquote>
            </br>
            <p>
                No quiere decir que los bebés que comen purés están peor alimentados que otros, pero sí trae a colación un punto importante: privilegia calidad sobre cantidad. Es mejor que tu hijo coma un poca comida y luego siga con mucha leche, a mucho puré y menos
                leche. Si tu bebé sigue tomando pecho, tu leche tiene mas calorías y grasas conforme crezca tu hijo (las fórmulas también suelen cambiar según la edad). Entonces <b>hay más nutrición en tu leche que en una papilla.</b> Y no sería recomendable
                que cambie un frasco de puré de verduras con poco contenido calórico por su toma de leche que es rica en grasas y calorías, entre muchas otras cosas. Y como se puede ver en la tabla de abajo, la cantidad que debe comer un bebé los primeros
                meses es en realidad muy poco. Por eso privilegia comida con alto contenido calórico y hierro.
            </p>
            <br/>
            <div>
                <table class="table table-striped">
                    <colgroup>
                        <col width="121" />
                        <col width="176" />
                        <col width="189" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <b>Edad</b>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <b>Cantidad</b>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <b>Frecuencia</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Al principio
                                </p>
                            </td>
                            <td>
                                <p>
                                    0 a 1 cucharadita
                                </p>
                            </td>
                            <td>
                                <p>
                                    1 comida
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    para el 8vo mes
                                </p>
                            </td>
                            <td>
                                <p>
                                    2 a 4 cucharadas
                                </p>
                            </td>
                            <td>
                                <p>
                                    2 a 3 comidas
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    9 a 11 meses
                                </p>
                            </td>
                            <td>
                                <p>
                                    3 a 4 cucharadas
                                </p>
                            </td>
                            <td>
                                <p>
                                    3 comidas y tal vez 1 snack
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    12 a 23 meses
                                </p>
                            </td>
                            <td>
                                <p>
                                    900 - 1000 calorías (ver tabla de abajo)
                                </p>
                            </td>
                            <td>
                                <p>
                                    3 comidas y 1 o 2 snacks
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <p>
                Alrededor de su primer cumpleaños, ofrécele a tu hijo 3 comidas y 2 colaciones (snacks) al día, pero ten en cuenta que es muy común que los niños de esa edad se salten comidas. Dejar que tu hijo se salte comidas puede parecerte contraintuitivo pero recuerda
                que los niños deben poder responder a sus señales de hambre y saciedad. No los presiones a comer pero no los dejes comer cuando quieran. Mantener un horario de comidas y colaciones es importante para que tus hijos sepan que tienen comida
                a su disposición en ciertos momentos del día y coman a horas adecuadas. Estas dos cosas (horario establecido de comidas y permitir que coma y deje de comer cuando quiera) ayudará a que tu hijo coma con hambre y gusto a la hora de la comida.
            </p>
            <br>
              <div>
                <table class="table table-striped">
                    <thead>
                        <h3 class="center">Cantidade de 12 a 23 meses</h3>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <b>Cantidad</b>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <b>Equivalente</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    1 taza de fruta
                                </p>
                            </td>
                            <td>
                                <p>
                                    1/2 manzana, 32 uvas (cortadas vertical), 1 mandarina, 1 platano = 1 taza aprox
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    1 taza de verduras
                                </p>
                            </td>
                            <td>
                                <p>
                                    12 zanahorias mini, 1 camote, 18 ejotes, 10 cabecitas de brocoli = 1 taza aprox 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    1.5 porciones o 12 gramos de proteína*
                                </p>
                            </td>
                            <td>
                                <p>
                                    1 huevo o 1/2 taza de lentejas o frijoles o 20-24 almendras** = 1 porción
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    2 porciones o 56 gramos de granos 
                                </p>
                            </td>
                             <td>
                                <p>
                                    1/2 taza de pasta integral o 1 rebanada de pan 100% integral = 1 porción
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    500 mg de calcio 
                                </p>
                            </td>
                             <td>
                                <p>
                                    1 taza de yogur sin azucar = 450 mg
                                </p>
                                <p>
                                    1 taza de garbanzo o 20-24 almendras** = 80 mg
                                </p>
                                <p>
                                    2 tortillas de maiz = 85 mg
                                </p>
                                <p>
                                    1 taza de kiwi crudo = 70 mg
                                </p>
                                <p>
                                    1 taza de leche de vaca entera = 300 mg
                                </p>
                                <p>
                                    28 gramos de queso gruyere o suizo = 270 mg
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </br>
                <p>
                    * O para ser mas precisos 1 gramo de proteina por kilo de peso de tu hijo. Si pesa 10 kilos, 10 gramos.
                </p>
                <p>
                    ** Las almendras las puedes ofrecer como untable en un sandwich o dip, no enteras. Deben estar tostadas sin blanquear para ofrecer el maximo valor nutricional.
                </p>
                </div>
        </div>
    </div>
</div>