<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Boeuf Bourguignon</h1>
            <h3>(Carne de Borgoña)</h3>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <br>
            <img src="/assets/Recetas/Boeuf Bourg 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>250 gramos de papas</p>

                </li>
                <li>
                    <p>250 gramos de zanahoria</p>

                </li>
                <li>
                    <p>450 gramos de carne (cortes para cocinar en estofado)</p>

                </li>
                <li>
                    <p>100 gramos de cebolla</p>

                </li>
                <li>
                    <p>200 gramos de champiñones</p>

                </li>
                <li>
                    <p>1 bouquet garni</p>

                </li>
                <li>
                    <p>2 cucharadas de concentrado de jitomate o 4 cucharadas de puré de jitomate</p>

                </li>
                <li>
                    <p>Pimienta</p>

                </li>
                <li>
                    <p>Aceite de oliva</p>

                </li>
                <li>
                    <p>Mantequilla</p>

                </li>
                <li>
                    <p>1 ajo</p>

                </li>
            </ul>

        </div>
        <br/>
        <br>
        <br>
        <p><b>Esta receta tarda 2h30 en cocer.</b> Es un platillo de coccion a fuego lento entonces debes anticipar el tiempo de coccion ya que si tratas de acelerar el proceso y aumentas el fuego, la carne se va a endurecer.</p>

        <p>El Boeuf Bourguignon es una receta tradicional francesa que normalmente se hace con 1 botella de vino tinto de la región de Borgoña. Y aunque el alcohol del vino se evapora con la coccion a menos de 2% (bebidas no-alcohólicas en USA son aquellas
            con menos de 1% de alcohol), aquí te dejo una opción sin vino. Pero puedes usar esta misma receta para hacer el platillo tradicional y en lugar de agua usas vino. </p>

        <p><b>Si vas a hacer este plato para bebés que comen ellos mismos (BLW)</b>, <u>corta la carne en tiras gruesas</u> tal como hice con las papas y zanahorias. Si es para personitas que ya comen con tenedor, corta la carne y los vegetales en cubos
            grandes, como corté la carne en la foto y a ellos les cortas todo en pedazos pequeños. De cualquier manera es una receta que va a gustar a toda la familia, grandes y pequeños. </p>

        <p>
            Si te sobra, lo puedes congelar hasta 2 meses. Solo déjalo descongelar en el refri la noche anterior y luego calientalo en el sartén.</p>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <p>En una olla muy grande (aquí vas a echar todo), calienta la <b>mantequilla</b> y el <b>aceite de oliva</b>.</p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            A fuego medio-alto, agrega la <b>carne</b> asegurando dorar cada lado. Una vez dorados los cubos, sácalos y apártalos para después. Reduce el fuego a medio.
        </p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            En la misma olla, fríe la <b>cebolla</b>.
        </p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            Luego las <b>zanahorias</b> y el <b>concentrado de jitomate</b> unos 4 o 5 minutos hasta que las zanahorias agarren color. </p>

        <div>
            <img src="/assets/Recetas/Boeuf Bourg 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <p>
            Echa el resto de los ingredientes incluyendo el <b>bouquet garni</b> y la carne que se había apartado. Revuelve todo unos 2 minutos.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            Cubre con la cantidad de agua necesaria para cubrir todo.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <p>
            Reduce el fuego a bajo-medio, tápalo y deja cocer 2h30. Al as 2h30 saca un pedazo de carne, y perforalo con un cuchillo, debe de ser suave como la mantequilla. Si está un poco dura continúa la cocción unos 15 minutos a media hora más.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <br>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <ol>
            <li>
                <p>En una olla muy grande (aquí vas a echar todo), calienta la <b>mantequilla</b> y el <b>aceite de oliva</b>. </p>

            </li>
            <li>
                <p>A fuego medio-alto, agrega la <b>carne</b> asegurando dorar cada lado. Una vez dorados los cubos, sácalos y apártalos para después. Reduce el fuego a medio.</p>

            </li>
            <li>
                <p>En la misma olla, fríe la <b>cebolla</b>.</p>

            </li>
            <li>
                <p>Luego las <b>zanahorias</b> y el <b>concentrado de jitomate</b> unos 4 o 5 minutos hasta que las zanahorias agarren color. </p>

            </li>
            <li>
                <p>Echa el resto de los ingredientes incluyendo el <b>bouquet garni</b> y la carne que se había apartado. Revuelve todo unos 2 minutos.</p>

            </li>
            <li>
                <p>Cubre con la cantidad de agua necesaria para cubrir todo. </p>

            </li>
            <li>
                <p>Reduce el fuego a bajo-medio, tápalo y deja cocer 2h30. Al as 2h30 saca un pedazo de carne, y perforalo con un cuchillo, debe de ser suave como la mantequilla. Si está un poco duro continúa la cocción unos 15 minutos a media hora más.</p>

            </li>
        </ol><br />
        <p><b>No trates de acelerar el proceso ya que el fuego alto endurece la carne</b> y la receta se echa a perder.</p>

        <p>
            Puedes moler unas cuantas papas y zanahorias e incorporarlas a la salsa si quieres una salsa un poco más espesa. A veces hago esto pero esta vez lo salté.
        </p>
        <div class="row">
            <a href="/pages/cantidades">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Strawberry.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>¿Cuánto debe comer?</h3>
                            <p>La fuente de nutrición de tu bebé sigue siendo la leche, al principio...</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pages/hierro">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/PepperMeat851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>La importancia del hierro</h3>
                            <p>La falta de hierro afecta el desarrollo cerebral y puede causar problemas...</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pages/recetas">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/851x315/Chkp patties 851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>Recetas sin sal ni azúcar</h3>
                            <p>Las recetas son para bebés 6+ meses, pero debes adecuar tamaño...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>