<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Boeuf Bourguignon</h1>
            <h3>(Carne de Borgoña)</h3>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <br>
            <img src="/assets/Recetas/Boeuf Bourg 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>250 gramos de papas</p>

                </li>
                <li>
                    <p>250 gramos de zanahoria</p>

                </li>
                <li>
                    <p>450 gramos de carne (cortes para cocinar en estofado)</p>

                </li>
                <li>
                    <p>100 gramos de cebolla</p>

                </li>
                <li>
                    <p>200 gramos de champiñones</p>

                </li>
                <li>
                    <p>1 bouquet garni</p>

                </li>
                <li>
                    <p>2 cucharadas de concentrado de jitomate o 4 cucharadas de puré de jitomate</p>

                </li>
                <li>
                    <p>Pimienta</p>

                </li>
                <li>
                    <p>Aceite de oliva</p>

                </li>
                <li>
                    <p>Mantequilla</p>

                </li>
                <li>
                    <p>1 ajo</p>

                </li>
            </ul>

        </div>
        <br/>
        <br>
        <br>
        <p><b>Esta receta tarda 2h30 en cocer.</b> Es un platillo de coccion a fuego lento entonces debes anticipar el tiempo de coccion ya que si tratas de acelerar el proceso y aumentas el fuego, la carne se va a endurecer.</p>

        <p>El Boeuf Bourguignon es una receta tradicional francesa que normalmente se hace con 1 botella de vino tinto de la región de Borgoña. Y aunque el alcohol del vino se evapora con la coccion a menos de 2% (bebidas no-alcohólicas en USA son aquellas
            con menos de 1% de alcohol), aquí te dejo una opción sin vino. Pero puedes usar esta misma receta para hacer el platillo tradicional y en lugar de agua usas vino. </p>

        <p><b>Si vas a hacer este plato para bebés que comen ellos mismos (BLW)</b>, <u>corta la carne en tiras gruesas</u> tal como hice con las papas y zanahorias. Si es para personitas que ya comen con tenedor, corta la carne y los vegetales en cubos
            grandes, como corté la carne en la foto y a ellos les cortas todo en pedazos pequeños. De cualquier manera es una receta que va a gustar a toda la familia, grandes y pequeños. </p>

        <p>
            Si te sobra, lo puedes congelar hasta 2 meses. Solo déjalo descongelar en el refri la noche anterior y luego calientalo en el sartén.</p>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <p>En una olla muy grande (aquí vas a echar todo), calienta la <b>mantequilla</b> y el <b>aceite de oliva</b>.</p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            A fuego medio-alto, agrega la <b>carne</b> asegurando dorar cada lado. Una vez dorados los cubos, sácalos y apártalos para después. Reduce el fuego a medio.
        </p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            En la misma olla, fríe la <b>cebolla</b>.
        </p>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            Luego las <b>zanahorias</b> y el <b>concentrado de jitomate</b> unos 4 o 5 minutos hasta que las zanahorias agarren color. </p>

        <div>
            <img src="/assets/Recetas/Boeuf Bourg 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <p>
            Echa el resto de los ingredientes incluyendo el <b>bouquet garni</b> y la carne que se había apartado. Revuelve todo unos 2 minutos.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br/>
        <p>
            Cubre con la cantidad de agua necesaria para cubrir todo.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <p>
            Reduce el fuego a bajo-medio, tápalo y deja cocer 2h30. Al as 2h30 saca un pedazo de carne, y perforalo con un cuchillo, debe de ser suave como la mantequilla. Si está un poco dura continúa la cocción unos 15 minutos a media hora más.
        </p>
        <br>
        <div>
            <img src="/assets/Recetas/Boeuf Bourg 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
        </div>
        <br>
        <br>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <ol>
            <li>
                <p>
                    Primero pica la cebolla y el ajo y corta los jitomates. Los puedes pelar pero yo prefiero no hacerlo ya que l <a href="http://www.natursan.net/tomates-beneficios-y-propiedades/">a piel es lo que contiene más propiedades antioxidantes y fibra.</a>
                </p>
            </li>
            <li>
                <p>
                    Luego siguen las calabacitas, berenjena, y pimientos. Normalmente se cortan en dados pero en este caso córtalas en bastones largos (como tamaño de una papa frita).
                </p>
            </li>
            <li>
                <p>
                    En una olla muy grande (te debe caber todo en esta olla) a fuego bajo calienta aceite de coco (o el de tu preferencia) y echa los jitomates en una olla muy grande con una pizca de sal, pimienta y un bouquet garni (opcional). Déjalo cocinar mientras haces
                    todo lo demás.
                </p>
            </li>
            <li>
                <p>
                    En un sartén a fuego medio, calienta el aceite y echa el ajo.
                </p>
            </li>
            <li>
                <p>
                    Cuando esté ligeramente dorado, agrega la cebolla unos minutos y moviendo constantemente cocinar hasta que se ponga traslucida y agarre un poco de color. Luego pásala a un recipiente y dejar reposar.
                </p>
            </li>
            <li>
                <p>
                    En el mismo sartén, vuelve a echar un poco de aceite y agrega los pimientos. Muévelos de vez en cuando para que se cocinen parejos. Unos 5 o 6 minutos hasta que estén un poco suaves. Luego pásalos al mismo recipiente de las cebollas y deja reposar.
                </p>
            </li>
            <li>
                <p>
                    Haz lo mismo con las calabacitas y las berenjenas.
                </p>
            </li>
            <li>
                <p>
                    Finalmente tomamos todas las verduras que esperan en el recipiente y las echamos en la olla con los jitomates y la albahaca.
                </p>
            </li>
            <li>
                <p>
                    Dejamos que se sigan cocinando 20 a 30 minutos. Y se puede servir frío o caliente. Si te sobra o hiciste el doble, lo puedes congelar hasta un mes en el congelador.
                </p>
            </li>
        </ol>