<div class="container">
    <div class="jumbotron-narrow">
         <div class="container content">
             <h1 class="entry-title">Contacto</h1>
             <p>¡Si tienes preguntas, quieres compartir recetas o te gustaría que la 
             foto de tu bebé aparezca en la sección de Fotos envía tu mail!</p>
        </div>
    </div>
</div>