<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Cuando no se recomienda BLW</h1>
            <div>
                <img src="/assets/CuandoNo.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                Baby led weaning no es para todos:
            </p>
            <ul>
                <li>
                    <p>
                        Si tu bebé fue prematuro (menos de 37 semanas de gestación)
                    </p>
                </li>
                <li>
                    <p>
                        Si tu bebé presenta retrasos de desarrollo
                    </p>
                </li>
                <li>
                    <p>
                        Si tu bebé tiene problemas de deglución (tragar) o comer
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                A estos bebés <b>no es recomendadable empezar con baby led weaning</b> o alimentación autorregulada.
            </p>
            <br/>
            <p>
                Si tu bebé no muestra interés por la comida o no ves que tu bebé coma más cantidad semana tras semana debes tratar otra técnica. Puedes volver a tratar más adelante.
            </p>
            <br/>
            <p>
                Existen muchos
                <%=link_to "conceptos benéficos de baby led weaning", pages_consejos_para_todos_path%> o alimentación autorregulada que puedes incorporar a la alimentación complementaria sin adoptar la técnica:
            </p>
            <ul>
                <li>
                    <p>
                        Saber cuando tu
                        <%=link_to "bebé está físicamente listo", pages_edad_para_empezar_blw_path%>,
                    </p>
                </li>
                <li>
                    <p>
                        Bebé acompaña a la familia a la hora de la comida,
                    </p>
                </li>
                <li>
                    <p>
                        Reconocer y respetar sus señales de saciedad (sobre todo si tu bebé toma formula),
                    </p>
                </li>
                <li>
                    <p>
                        Ofrecerle una variedad de especias para condimentar su comida,
                    </p>
                </li>
                <li>
                    <p>
                        Que tu bebé asocie la comida con algo positivo y sea una experiencia placentera entre otros.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>