<div class="container">
    <div class="jumbotron-narrow">
        <div class="container content">
            <h1 class="entry-title">Estudios y Referencias</h1>
            <br>
            <p>
                <h3><a href="http://bmjopen.bmj.com/content/2/1/e000298.full">
        ¿Bebé sabe mejor? El impacto del estilo de alimentación complementaria en preferencias alimenticias e índice de masa corporal en la infancia en un
        estudio de caso control
    </a></h3>
            </p>
            <p>
                Ellen Townsed, Nicola J Pitchford
            </p>
            <p>
                Publicado 6 de febrero 2012
            </p>
            <br/>
            <p>
                <h3><a href="http://onlinelibrary.wiley.com/doi/10.1111/j.2047-6310.2013.00207.x/full">
        Influencia temprana sobre la capacidad de respuesta de saciedad: el rol que juega el estilo de alimentación complementaria
    </a></h3>
            </p>
            <p>
                A. Brown and M.D. Lee
            </p>
            <p>
                Publicado en línea el 17 diciembre 2013
            </p>
            <br/>
            <p>
                <h3><a href="http://www.mdpi.com/2072-6643/4/11/1575/htm">¿Qué tan viable es el BLW como método de alimentación de bebé? Un análisis de la evidencia.</a></h3>
            </p>
            <p>
                Sonya L. Cameron, Anne-Louise M. Heath and Rachael W. Taylor
            </p>
            <p>
                Publicado: 2 noviembre 2012
            </p>
            <br/>
            <p>
                <h3><a href="http://www.ncbi.nlm.nih.gov/pubmed/26027426">Anemia por deficiencia de hierro y prácticas de alimentación de los lactantes y niños pequeños</a></h3>
            </p>
            <p>
                Parkin Pc, DeGroot J, Maguire JL, Birken CS, Zlotkin S
            </p>
            <br>
            <p>
                <h3><a href="http://pediatrics.aappublications.org/content/126/5/1040">
        Diagnóstico y prevención de deficiencia de hierro y anemia por deficiencia de hierro en infantes y niños pequeños (0-3 años de edad)
    </a></h3>
            </p>
            <p>
                Robert D. Baker, Frank R. Greer, The Committee on Nutrition
            </p>
            <br>
            <p>
                <h3><a href="http://www.ncbi.nlm.nih.gov/pubmed/19161546">
        Retrasar la introducción de alimentos “grumosos” a niños durante el periodo de alimentación complementaria afecta su aceptación de comida y comer a los
        7 años de edad
    </a></h3>
            </p>
            <p>
                Coulthard H, Harris G, Emmett P.
            </p>
            <br/>
            <p>
                <h3><a href="http://www.nhs.uk/start4life/solid-foods">Las 3 señales que tu bebé está listo para la introduccion de solidos</a></h3>
            </p>
            <p>
                El Servicio Nacional de Salud de Estados Unidos (National Health Service)
            </p>
            <br/>
            <p>
                <h3><a href="http://www.who.int/nutrition/topics/complementary_feeding/en/">Cuando comenzar la introduccion de solidos </a></h3>
            </p>
            <p>
                La Organización Mundial de la Salud
            </p>
            <br/>
            <p>
                <h3><a href="http://ensanut.insp.mx/resultados_principales.php#.VuLSBZMrJ-U">Encuesta Nacional de Salud y Nutrición 2012</a></h3>
            </p>
            <p>
                Instituto Nacional de Salud Pública
            </p>
            <br/>
            <p>
                <h3><a href="http://www.ncbi.nlm.nih.gov/pubmed/20735730">¿Es viable BLW? ¿Cuándo comienzan los bebés a tratar de agarrar comida?</a></h3>
            </p>
            <p>
                Charlotte M. Wright, Kirsty Cameron, Maria Tsiaka and Kathryn N. Parkinson
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
