<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Fotos</h1>
            <br>
            <h4>¡El sitio es nuevo y nos encantaría tener fotos de tus experiencias con BLW! 
            Si quieres compartir fotos de tu bebé comiendo, mándala aquí y la publicamos.</h4>
            <br>
            <div class="container">
                <ul class="row">
                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <img src="/assets/EsparragosSillaRoja.jpg">
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <img src="/assets/PanTostado.jpg">
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <img src="/assets/PastaBaberoazul.jpg">
                    </li>
                </ul>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>