<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Fotos</h1>
            <br>
            <h4>El sitio es nuevo y nos encantaría tener fotos de tus experiencias con BLW 
            ¡Si quieres compartir fotos de tu bebé comiendo, mándala <%=link_to "aquí", new_contact_path %> y la publicamos!</h4>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasPastaMessy.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/jessicafm/">Jessica Merz</a>
                        </footer>
                            <p id="tooBig">Pasta con salsa de jitomate, champiñones y brócoli</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasToast.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/lanevids/">Lane Fournerat</a>
                        </footer>
                        <div class="caption">
                            <p>Pan tostado con queso</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasBlackBeanHummus.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/gail_thepinkpeppercorn/">Gail</a>
                        </footer>
                        <div class="caption">
                            <p>Hummus con frijoles negros</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasChicharos.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/juhansonin/">Juhan Sonin</a>
                        </footer>
                        <div class="caption">
                            <p>Estofado de pollo con chícharos</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasAguacate.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/caitlinator/">Caitiln Regan</a>
                        </footer>
                        <div class="caption">
                            <p>Aguacate</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasAzul.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/lesteph/">Steph Gray</a>
                        </footer>
                        <div class="caption">
                            <p>Lentejas, pan y salmón</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasEsparragos.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/gail_thepinkpeppercorn/">Gail</a>
                        </footer>
                        <div class="caption">
                            <p>Pollo, zanahoria y espárragos</p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/CasPastaMessy.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/juhansonin/">Juhan Sonin</a>
                        </footer>
                        <!-- div class="caption">
                        <p>Pasta con salsa de jitomate, champiñones y brócoli</p>
                        <!--</div>
                    </div>
                </div>-->
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Fotos/109985243_fdc0bbcc9f.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
                        <footer>
                            Foto: <a href="https://www.flickr.com/photos/andrec/">Andre Chinn</a>
                        </footer>
                        <div class="caption">
                            <p>Espagueti a la boloñesa</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>