<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Hachis Parmentier</h1>
            <h3>(Ashí Parmantié)</h3>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <img src="/assets/Recetas/Hachis Parm 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <p>
                Para el puré de papa:
            </p>
            <ul>
                <li>
                    <p>
                        1 kg de papas
                    </p>
                </li>
                <li>
                    <p>
                        200 ml de leche
                    </p>
                </li>
                <li>
                    <p>
                        50 gramos de mantequilla
                    </p>
                </li>
                <li>
                    <p>
                        Nuez moscada
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                Para la carne:
            </p>
            <ul>
                <li>
                    <p>
                        500 gramos de carne molida
                    </p>
                </li>
                <li>
                    <p>
                        1 cebolla picada
                    </p>
                </li>
                <li>
                    <p>
                        2 ajos picados
                    </p>
                </li>
                <li>
                    <p>
                        1 zanahoria picada
                    </p>
                </li>
                <li>
                    <p>
                        25 gramos de mantequilla
                    </p>
                </li>
                <li>
                    <p>
                        Pimienta
                    </p>
                </li>
            </ul>
            <br>
        </div>
        </br>
        <div>
            <br/>
            <p>
                El Hachis Parmentier es una receta francesa que tradicionalmente se hace con los restos de carne. Si hiciste un estofado una noche y te sobra carne, la picas en el procesador y la utilizas en lugar de la carne molida. Es una excelente manera de utilizar
                las sobras.
            </p>
            <p>
                Un plato que consiste de carne molida y puré de papa, se hizo rápidamente un favorito de la familia. Si se lo das a bebés o niños que todavía no usan utensilios, lo puedes hacer 'deditos' o hamburguesitas para facilitar que lo agarren. De cualquier manera
                es una excelente fuente de proteína y hierro gracias a la carne y vitaminas y minerales gracias a los vegetales.
            </p>
            <h3>Instrucciones</h3>
            </h3>
            <p>
                Precalentar el horno a 180°C.
            </p>
            <p>
                Pelar las papas, echarlas en la olla con agua (comienza siempre con agua fría) y cocinarlas.
            </p>
            <p>
                Calentar la mantequilla en un sartén a fuego medio y agregar la zanahoria, cebolla y ajo.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                Agregar la carne molida, un poco de pimienta y dejar cocer 10 minutos, removiendo para que se cocine parejo. Retirar del fuego y pasar al siguiente paso.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Una vez cocidas las papas, usar un “potato ricer” (te lo recomiendo mucho porque hace facilisimo deshacer la papa) o prensa purés para machacar la papa. Algunas personas la rallan con un rallador de queso.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 10.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En otro sartén, echar la mantequilla, leche y nuez moscada y calentar a fuego medio.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Y revolver hasta que quede uniforme.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Agregar la mezcla de leche a las papas ya ralladas y revolver hasta tener una consistencia de puré de papa.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 11.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En un plato para horno, tipo Pyrex, echar la carne molida y luego encima el puré de papa.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                Meter al horno y dejar 10 minutos y luego 2 minutos en función grill para que queda doradito.
            </p>
            <div>
                <img src="/assets/Recetas/Hachis Parm 9.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <div>
                <img src="/assets/Recetas/Hachis Parm 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <div>
                <img src="/assets/Recetas/Hachis Parm 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
        </div>
        <br/>
        <h3>
                Instrucciones
            </h3>
        <ol>
            <li>
                <p>
                    Cocinar la pasta de acuerdo a las instrucciones del paquete.
                </p>
            </li>
            <li>
                <p>
                    Prender el horno a 180°C.
                </p>
            </li>
            <li>
                <p>
                    Con un tenedor, mezcla la leche con la avena.
                </p>
            </li>
            <li>
                <p>
                    Calienta en una olla la mantequilla y una vez que esté derretida, agrega la mezcla de leche y avena. A fuego medio, revuelve esta mezcla hasta que comience a espesar, normalmente toma unos 5 a 6 minutos.
                </p>
            </li>
            <li>
                <p>
                    Ya que esté ligeramente espesa, agrega las especias y revuelve.
                </p>
            </li>
            <li>
                <p>
                    Enseguida agrega el queso rallado y revuelve hasta que quede incorporado y tengas una salsa de queso homogénea. Si vas a hacer los muffins, separa una taza para después.
                </p>
            </li>
            <li>
                <p>
                    Ya que la salsa esté bien mezclada, agrega la pasta cocida y revuelve. <strike>*!*Luego echa el huevo. Te recomiendo que lo batas en un recipiente antes de echarlo para que quede uniforme.</strike>
                </p>
            </li>
            <li>
                <p>
                    Toma la salsa que separaste y mete un poco en el fondo de cada muffin. Luego llena los muffins con la pasta y vuelve a echar un poco de salsa encima.
                </p>
            </li>
            <li>
                <p>
                    Mételos al horno 30 minutos y deja que se enfrien completamente antes de sacarlos para que no se rompan.
                </p>
            </li>
            <li>
                <p>
                    Los puedes re-calentar 10 minutos en el horno antes de servirlos o comerlos a temperatura ambiente.
                </p>
            </li>
            <li>
                <p>
                    Son ideales para congelar. Duran hasta 1 mes en el congelador y asi ya tienes algo listo y nutritivo cuando quieras.
                </p>
            </li>
        </ol>
    </div>
