<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">La importancia del Hierro</h1>
            <div>
                <img src="/assets/PepperMeat851.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Alrededor de los 6 meses de edad </b>se recomienda a las mamás que han amamantado exclusivamente de comenzar con alimentos altos en hierro. Porque hasta ese momento, la leche materna proporciona todo los nutrientes
                necesarios además de importantes anticuerpos y muchos beneficios más. Pero a partir de los 6 meses mas o menos, el hierro puede comenzar a faltar. Esto es particularmente cierto si tu bebé fue de bajo peso al nacer, prematuro o si la mamá
                tuvo o tiene deficiencia de hierro.
            </p>
            <br/>
            <p>
                Al comenzar la introducción a sólidos debes tratar de asegurar una cantidad suficiente de hierro en la dieta de tu bebé. Sobre todo si su dieta es 100% leche materna, ya que la fórmula está fortificada con hierro. Esto es cierto tanto si empiezas con
                purés o baby led weaning. A la hora de complementar con sólidos debes favorecer aquellos alimentos ricos en hierro.
            </p>
            <br/>
            <p>
                Comúnmente los cereales fortificados con hierro suelen ser el estándar para asegurar una dieta con suficiente hierro pero estos son esencialmente una combinación de agua, aceites vegetales y al menos 4 o hasta 6 distintos tipos de azúcar. En su lugar
                busca avena fortificada con hierro que suele tener menos cantidades de azúcares y un mayor valor nutritivo.
            </p>
            <br/>
            <p>
                A continuación hay una lista de comida alta en hierro. La carne roja, aves y pescado son la mejor opción. Trata de ofrecer una proteína diaria. Puedes hacer patés o cremas y untarlas en pan integral o ofrecerlos como dip y dejar que tu bebé use sus manos
                (probablemente) o frutas y vegetales para comérselo.
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos altos en Hierro</li>
                    <li class="list-group-item list-group-item-success">Carne de res, cordero o puerco</li>
                    <li class="list-group-item list-group-item-success">Aves</li>
                    <li class="list-group-item list-group-item-success">Huevo</li>
                    <li class="list-group-item">Hummus*</li>
                    <li class="list-group-item">Frijoles machacados*</li>
                    <li class="list-group-item">Garbanzos</li>
                    <li class="list-group-item list-group-item-success">Hígado rallado o pate</li>
                    <li class="list-group-item list-group-item-success">Avena fortificada con hierro</li>
                    <li class="list-group-item">Espinaca y col rizada (kale en ingles)*</li>
                    <li class="list-group-item">Lentejas*</li>
                    <li class="list-group-item">Chícharos*</li>
                    <li class="list-group-item list-group-item-success">Robalo, sardinas, arenque, trucha arcoiris, salmón, huachinango, curbina, carpa y mero entre otros</li>
                </ul>
            </div>
            <br/>
            <p>
                <b>Además es importante saber que existen dos tipos de hierro:</b> el <b>hémico</b> (de origen animal) y el <b>no hémico*</b> (de origen vegetal) y se absorben en un <b>20% a 30%</b> y <b>3% a 8%</b> respectivamente. Para mejorar la absorción
                del hierro no hémico siempre es bueno consumir al mismo tiempo alimentos que contengan vitamina C:
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos con vitamina C</li>
                    <li class="list-group-item">Brócoli</li>
                    <li class="list-group-item">Cítricos</li>
                    <li class="list-group-item">Pimientos (particularmente el rojo)</li>
                    <li class="list-group-item">Fresas</li>
                    <li class="list-group-item">Jitomates</li>
                    <li class="list-group-item">Kiwi</li>
                    <li class="list-group-item">Papaya</li>
                    <li class="list-group-item">Coliflor</li>
                    <li class="list-group-item">Col rizada (kale en ingles)</li>
                </ul>
                <br/>
                <p>
                    Y <em>evitar aquellos que inhiben la absorción</em> como la leche de vaca y sus derivados, el salvado de trigo y los productos de soya.
                </p>
                <br/>
                <p> Entre los 7 y 12 meses de edad, se recomiendan 11mg de hierro darios. La fórmula suele tener 12 mg <b>por litro</b>, pero varía segun la marca. Algunos pediatras han expresado reservaciones acerca de BLW porque no saben si al complementar
                    la dieta de esta manera se puedan llegar a la dosis recomendada. Pero comenzar con papillas y purés o de cualquier otra manera, resulta igual de difícil si no se comienza con alimentos altos en hierro. Evidencia de esto es la epidemia
                    de anemia por deficiencia de hierro que existe en México donde ocurre en el 38% de niños entre 12 a 23 meses de edad.</p>
                <br/>
                <p>Entonces es muy <u>importante comenzar a ofrecer alimentos altos en hierro</u> <b>sin importar de que manera comienzas con sólidos</b>.</p>
            </div>
        </div>
    </div>