<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="first-slide" src="/assets/8alimentosevitar.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <!--<h1>Alimentos a evitar</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
                    <p><a class="btn btn-lg btn-primary" href="/pages/alimentos_peligrosos" role="button">Leer</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="second-slide" src="/assets/Guiaempezar.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><a class="btn btn-lg btn-primary" href="/pages/guia_para_empezar_blw" role="button">Leer</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="/assets/alergias.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><a class="btn btn-lg btn-primary" href="/pages/alergias" role="button">Leer</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-lg-4 text-center">
            <img class="img-circle img-responsive center-block" src="/assets/RecipesCircle.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="circles">Recetas</h2>
            <p><a class="btn btn-default" href="#" role="button">Leer »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-4 col-sm-4 col-lg-4 text-center">
            <img class="img-circle img-responsive center-block" src="/assets/Tips.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="circles">Tips</h2>
            <p><a class="btn btn-default" href="#" role="button">Leer »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xs-4 col-sm-4 col-lg-4 text-center">
            <img class="img-circle img-responsive center-block" src="/assets/Circle.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="circles">Fotos</h2>
            <p><a class="btn btn-default" href="#" role="button">Leer »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Baby Led Weaning: <%= link_to "6 razones para empezar", pages_beneficios_blw_path%></h2>
            <p class="lead">¿Todavía no sabes como empezar la introducción de sólidos? Aquí hay
                <%=link_to "6 razones para comenzar con baby led weaning", pages_beneficios_blw_path%> o BLW por sus siglas en inglés. </p>
        </div>
        <div class="col-md-5">
            <a href="/pages/beneficios"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://lh3.googleusercontent.com/-j-knH6_SSAo/VuhcJTw5DUI/AAAAAAAAAG8/PaS_x46qKC8WWbRT0DgQ33nslaKEPE3ygCCo/s512-Ic42/6%2Brazones%2Bblw.png"
                data-holder-rendered="true"></a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Vitamina C y Hierro. <span class="text-muted"><%= link_to "La combinación perfecta para evitar la anemia.", pages_beneficios_blw_path%></span></h2>
            <p class="lead">La deficiencia de hierro disminuye la hemoglobina en la sangre y afecta el desarrollo cerebral. Los daños por anemia antes de los 2 años de edad son irreversibles. Para evitarla,
                <%=link_to "introduce alimentos altos en hierro", pages_hierro_path%>
                desde el principio y todos los días.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <a href="/pages/hierro"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://lh3.googleusercontent.com/-yqxTnXLEYA8/VvKUonvkO1I/AAAAAAAAAL4/oj3-kz7sJ-Y8Mnync37S72lj44XHnt1DwCCo/s500-Ic42/Anemia%2Bhomepage.jpg"
                data-holder-rendered="true"></a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Olvida los purés y las papillas. <span class="text-muted">Hay otra manera de empezar.</span></h2>
            <p class="lead">¿Pero qué no se va a ahogar?</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://lh3.googleusercontent.com/-pRqmye0tcoA/VvW5DTJOPbI/AAAAAAAAANc/7DaLMDcpSYYAJDZWp6E-cbgW-rH1LWb-ACCo/s500-Ic42/Quote%2Bcomida%2Bnormal.jpg"
            data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->