<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Ideas de Comida</h1>
          <div>
                <img src="/assets/9 Plates with numbers.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
        </div>
    </div>
</div>