<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Cómo influenciar el paladar de tu bebé y hacer que coma de todo</h1>
            <div>
                <img src="/assets/851x315/Introduccion de sabores.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Los avances en el campo médico</b> de las últimas décadas son asombrosas. Y las ramas de pediatría y neonatología no son excepción. El número de estudios hechos en materia de alimentación y nutrición han revelado datos
                sorprendente y a veces incluso contrario a lo que previamente se pensaba, como es el caso de los alimentos que causan alergia.
            </p>
            <h2>
                Todo empieza en el embarazo
            </h2>
            <img class="imageText" src="/assets/Pregnant belly.jpg" class="img-fluid img-responsive" alt="Responsive image">
             <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b>Ahora sabemos que las preferencias gustativas se desarrollan como el lenguaje. El día que el bebé nace, podría aprender a gustarle cualquier comida de cualquier cultura del mundo. Pero son los alimentos a los que se expone el mayor número de veces que
                crea una preferencia.<b class="quotes">"</b> </p>
                <footer>Dr. Allan Greene, experto pediatrico en AmericanBaby.com y autor</footer>
            </blockquote>
            <p>
                Hoy en día sabemos que las preferencias gustativas comienzan en el embarazo. El sentido del gusto se forma en <b>la octava semana de gestación que es cuando aparecen las primeras papilas gustativas.</b> Según el Consejo Europeo de Información sobre la Alimentación
                (EUFIC), “los compuestos de aroma presentes en el fluido amniótico estimulan los receptores del gusto del feto en cuanto éste empieza a tragar (alrededor de la 12ª semana de gestación).”
            </p>
            <p>
                Esto quiere decir que lo que come la mamá, come el bebé literalmente. La comida y <b>los sabores a los que está expuesto durante el embarazo moldearán las preferencias gustativas del bebé</b> mucho antes de que pruebe alimentos. Una razón más para comer sano,
                comida variada y de diferentes culturas.
            </p>
            <p>
                Y esto continúa con la leche materna ya que contiene numerosos compuestos aromáticos que se incorporan a la leche según lo que coma la mamá. Un estudio americano demostró que los niños cuyas mamás habían tomado jugo de zanahoria entre el embarazo y el
                cese de lactancia tenían una preferencia por el sabor de la zanahoria que aquellos cuyas mamás no lo habían tomado. Entonces <b>los alimentos que comas durante el embarazo y la lactancia predisponen a tu bebé a los gustos que tendrá en el
                futuro.</b>
            </p>
            <h2>
                La frecuencia y la edad son decisivas
            </h2>
            <p>
                <b>Actualmente los órganos internacionales de salud y los expertos recomiendan 2 años de leche materna, los primeros 6 exclusivamente (o fórmula). No es hasta <u>después de los 6 meses que se recomienda introducir alimentos</u> complementarios. Mira estos <%=link_to "requisitos
                para ver si tu bebé está listo", pages_edad_para_empezar_blw_path%> para empezar.</b>
            </p>
            <p>
                Como dice el Dr. Greene: son los alimentos a los que se expone el mayor número de veces que crea una preferencia. Segun estudios hay una <b>“ventana de oportunidad” para introducir nuevos sabores</b> que le gusten al bebé. Entre <b>los 4 meses y hasta que
                empiezan a caminar</b> más o menos, están más receptivos a sabores nuevos. Y si le <b>propones un alimento entre 6-10 veces</b>, es probable que desarrollen una preferencia duradera, aunque a veces necesita probarlo hasta 15 veces.
            </p>
            <img class="imageText" src="/assets/Veggies.jpg" class="img-fluid img-responsive" alt="Responsive image">
            <p>
                Pero no te preocupes si tu hijo ya es mayor, no todo está perdido. Únicamente quiere decir que tu niño aceptará menos fácilmente alimentos y sabores nuevos que a esa edad. Por ejemplo, una vez que le gusta un sabor o alimento, lo puedes usar para introducir
                uno nuevo o uno que ya habia rechazado previamente. A esto se le llama “aprendizaje sabor-sabor”: <b>es más probable que acepte un nuevo alimento si lo combinas con uno que ya conoce</b> y le gusta.
            </p>
            <p>
                Y lo mismo pasa al revés, si tiene una reacción negativa (nausea, vomito o es forzado a comerlo) se puede desarrollar una aversión hacia ese alimento y puede continuar por el resto de la vida. Piensa en alguna intoxicación de mariscos (suelen ser reacciones
                muy violentas). La gente que se intoxica con un camarón, por ejemplo, pueden pasar años hasta que los vuelven a comer o nunca jamás.
            </p>
            <h2>
                Dime con qué lo asocias y te diré si te gusta
            </h2>
            <p>
                Por eso es importante no forzar alimentos, dejar que tu bebé o niño coma a su paso y la cantidad que quiera. A los niños suelen gustarles los alimentos que han comido en situaciones agradables y <b>rechazan platos que relacionan con algo negativo</b>. Crear
                asociaciones positivas con la comida es importante ya que las <b>sensaciones positivas moldean la preferencia por un alimento y fomentan una relación saludable con los alimentos</b>, que es algo que dura toda la vida. Y lo mismo viceversa.
            </p>
            <p>
                A la hora de comer, deja que tu bebé agarre el solito la comida. Déjalo explorar, probar, disfrutar, tener una experiencia agradable. Ofrecele una <%= link_to "variedad de alimentos", pages_tipo_de_comida_blw_path%>, privilegiando <%=link_to "alimentos altos en hierro", pages_hierro_path%>, frescos, sin sal ni azúcar y deja que el
                decida que come y cuánto. Hasta los 12 meses de edad la leche sigue siendo su fuente principal de nutrición. Entonces si lo expones a una variedad de sabores y alimentos, y creas una ambiente agradable cuando lo sientas a comer, cimentarás
                la base para tener una relación sana y exitosa con la comida.
            </p>
            <div class="row">
            <a href="/pages/cantidades">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/Strawberry.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>¿Cuánto debe comer?</h3>
                            <p>La fuente de nutrición de tu bebé sigue siendo la leche, al principio...</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pages/hierro">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/PepperMeat851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>La importancia del hierro</h3>
                            <p>La falta de hierro afecta el desarrollo cerebral y puede causar problemas...</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pages/recetas">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/851x315/Chkp patties 851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>Recetas sin sal ni azúcar</h3>
                            <p>Las recetas son para bebés 6+ meses, pero debes adecuar tamaño...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
