<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Libros</h1>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro Carlos Gonzalez.png" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>Mi niño no me come</h3>
            </a>
            <p>
                El fabuloso pediatra Carlos González tiene varios libros. Este es sobre BLW o como el le llama: alimentación complementaria. <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>Mi niño no me come</b></a> : "Jamás hay que obligarle. Ni sobornos, ni estimulantes del apetito ni castigos. El niño sabe muy bien lo que necesita".
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> La madre se dispone a dar de comer a su hijo mientras lo distrae con un juguete. Logra que se tome unas cucharadas y, de pronto, el niño pone en marcha su plan estratégico contra el exceso de comida: la primera
                    línea de defensa consiste en cerrar la boca y girar la cabeza.Esta situación, más propia de un campo de batalla que de una actividad cotidiana, ilustra con humor la tesis central de este libro: la inapetencia es un problema de equilibrio
                    entre lo que un niño come y lo que su madre espera que coma. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a  href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20">
                 También está disponible en Kindle</a>   
            </p>
            <br>
            <br>
            <h1 class="entry-title"></h1>
            <a href="http://www.amazon.com.mx/gp/product/161519049X/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=161519049X&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro BLW.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>The Baby-Led Weaning Cookbook: 130 Recipes That Will Help...</h3>
            </a>
            <p>
                 Gill Rapley es la mujer a la que se le atribuye el término 'Baby-Led Weaning'. Ha escrito algunos libros, <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>The Baby-Led Weaning Cookbook</b></a> es una colección de recetas e incluye un resumen de qué es BLW, 
                    cómo empezar y más. 
            </p>
            <p>
                Las recetas son sencillas, algunas muy diferentes porque la autora es británica y recopiló recetas de diferentes países 
                europeos. Lo que a mi me pareció muy útil fue leer las recetas y darme cuenta todo lo que los bebés podían comer. ¡Cuantos 
                alimentos y cuantas especias! Además únicamente con este libro entendí BLW perfectamente y lo puse en práctica 
                porque como dije anteriormente, al principio del libro hay un resumen.
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> The Baby-Led Weaning Cookbook" will give you the recipes and the confidence to create exciting, enjoyable mealtimes that encourage little ones to develop at their own pace. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a href="http://www.amazon.com.mx/gp/product/B00BSGE330/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00BSGE330&linkCode=as2&tag=blenes02-20">También está disponible en Kindle</a>
            </p>
            </p>
            <br>
            <br>
            <h1 class="entry-title"></h1>
            <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro Carlos 2.png" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>Comer, amamar, mamar</h3>
            </a>
            <p>
                 Otro libro muy bueno del Dr. Carlos Gonzalez. Este combina los tres que ha escrito (lactancia, comida y crianza) en uno solo. <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>Comer, amar, mamar</b></a> es una excelente referencia para mamás y papás primerizos ya que aborda 
                    desde el nacimiento hasta los primeros años. 
            </p>
            <p>
                Si además te interesa saber sobre la lactancia, es un libro que recomiendo mucho porque trae excelente información, 
                presentada de manera sencilla, concisa y con el humor que caracteriza al Dr. Gonzalez.
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> The Baby-Led Weaning Cookbook" will give you the recipes and the confidence to create exciting, enjoyable mealtimes that encourage little ones to develop at their own pace. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20" target="_blank">También está disponible en Kindle</a>
            </p>
        </div>
    </div>
</div>