<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Libros</h1>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro Carlos Gonzalez.png" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>Mi niño no me come</h3>
            </a>
            <p>
                El fabuloso pediatra Carlos González tiene varios libros. Este es sobre BLW o como el le llama: alimentación complementaria. <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>Mi niño no me come</b></a> : "Jamás hay que obligarle. Ni sobornos, ni estimulantes del apetito ni castigos. El niño sabe muy bien lo que necesita".
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> La madre se dispone a dar de comer a su hijo mientras lo distrae con un juguete. Logra que se tome unas cucharadas y, de pronto, el niño pone en marcha su plan estratégico contra el exceso de comida: la primera
                    línea de defensa consiste en cerrar la boca y girar la cabeza.Esta situación, más propia de un campo de batalla que de una actividad cotidiana, ilustra con humor la tesis central de este libro: la inapetencia es un problema de equilibrio
                    entre lo que un niño come y lo que su madre espera que coma. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a  href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                 También está disponible en Kindle</a>   
            </p>
            <br>
            <br>
            <h1 class="entry-title"></h1>
            <a href="http://www.amazon.com.mx/gp/product/161519049X/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=161519049X&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro BLW.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>The Baby-Led Weaning Cookbook: 130 Recipes That Will Help...</h3>
            </a>
            <p>
                 Gill Rapley es la mujer a la que se le atribuye el término 'Baby-Led Weaning'. Ha escrito algunos libros, <a href="http://www.amazon.com.mx/gp/product/B0064SURB4/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0064SURB4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>The Baby-Led Weaning Cookbook</b></a> es una colección de recetas e incluye un resumen de qué es BLW, 
                    cómo empezar y más. 
            </p>
            <p>
                Las recetas son sencillas, algunas muy diferentes porque la autora es británica y recopiló recetas de diferentes países 
                europeos. Lo que a mi me pareció muy útil fue leer las recetas y darme cuenta todo lo que los bebés podían comer. ¡Cuantos 
                alimentos y cuantas especias! Además únicamente con este libro entendí BLW perfectamente y lo puse en práctica 
                porque como dije anteriormente, al principio del libro hay un resumen.
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> The Baby-Led Weaning Cookbook" will give you the recipes and the confidence to create exciting, enjoyable mealtimes that encourage little ones to develop at their own pace. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a href="http://www.amazon.com.mx/gp/product/B00BSGE330/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00BSGE330&linkCode=as2&tag=blenes02-20" class="" target="_blank">También está disponible en Kindle</a>
            </p>
            </p>
            <br>
            <br>
            <h1 class="entry-title"></h1>
            <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <img src="/assets/Libro Carlos 2.png" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20" class="" target="_blank">
                <h3>Comer, amamar, mamar</h3>
            </a>
            <p>
                 Otro libro muy bueno del Dr. Carlos Gonzalez. Este combina los tres que ha escrito (lactancia, comida y crianza) en uno solo. <a  href="http://www.amazon.com.mx/gp/product/B006FLRTD4/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006FLRTD4&linkCode=as2&tag=blenes02-20"
                    target="_blank"><b>Comer, amar, mamar</b></a> es una excelente referencia para mamás y papás primerizos ya que aborda 
                    desde el nacimiento hasta los primeros años. 
            </p>
            <p>
                Si además te interesa saber sobre la lactancia, es un libro que recomiendo mucho porque trae excelente información, 
                presentada de manera sencilla, concisa y con el humor que caracteriza a Carlos Gonzalez.
            </p>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b> Esta edición, revisada, actualizada y corregida por el propio Carlos González es la herramienta indispensable para padres primerizos y no puede faltar en la biblioteca de ninguna casa en la que haya pequeños. <b>"</b>
                </p>
            </blockquote>
            <p>
                <a  href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f" target="_blank">También está disponible en Kindle</a>
            </p>
            <br>
            <br>
            <h1 class="entry-title"></h1>
            <a  href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f" class="" target="_blank">
                <img src="/assets/Libro Plenty.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
            </a>
            <a  href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f" class="" target="_blank">
                <h3>Plenty: Vibrant Vegetable Recipes from London's Ottolenghi</h3>
            </a>
            <p>
                 Es un libro de recetas vegetarianas. Si les gusta cocinar y quieren recetas diferentes que deleitan los sentidos, se los recomiendo ampliamente. 
                 Aunque algunos ingredientes son caros y otros difíciles de encontrar, si le sabes a la cocina este libro está
                lleno de recetas novedosas que te inspirarán. Si eres principiante tal vez no sea el libro para ti porque algunas 
                recetas no tienen medidas precisas o debes calcularle a ‘ojo de buen cubero’.
                <a  href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f"
                    target="_blank"></a>
            </p>
            <p>
                La espectacular receta del <a href="http://www.blwenespanol.com/pages/risotto_berenjena" target="_blank">Risotto de Berenjena</a> es una adaptación de este maravilloso libro, 
                que puedes hacer cuando tengas invitados y quieras encantarlos o simplemente quieras consentirte a ti y tu familia, incluyendo al más pequeño integrante. 
                Para que las recetas sean para toda la familia, tienes que recordar de no agregarle sal y que todo debe de 
                <a href="http://www.blwenespanol.com/pages/tipo_de_comida_blw" target="_blank">deshacerse fácilmente entre tu pulgar e índice</a>. 
            </p>
            <p>
                <a  href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f" target="_blank">También está disponible en Kindle</a>
            </p>
        </div>
    </div>