<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Alimentos Energéticos</h1>
            <br/>
            <p>
                Esta lista es muy corta ya que prácticamente toda la comida ofrece un contenido 
                energético alto. Sin embargo es bueno saber que las <b>frutas y verduras son buenas 
                fuentes de vitaminas y minerales </b>pero pobres en calorías y hierro.
            </p>
            <br>
            <p>
                Ofrece un alimento con mucho hierro todos los días y preferiblemente 
                también con un alto contenido energético. Pero las frutas y verduras 
                ofrecen muchas calidades y forman parte de una <%=link_to "alimentación balanceada", pages_cantidades_path%>.
                 <b>Además suelen ser un gran éxito con los bebés y son fáciles de preparar</b> ya que muchas se pueden servir crudas (como el mango, aguacate, fresas, frambuesas, <%=link_to "uvas", pages_alimentos_peligrosos_path%>),
                  siempre y cuando cuenten con la textura (debes poder aplastarlo entre tu dedo índice y pulgar) y <%=link_to "tamaño adecuado", pages_guia_para_empezar_blw_path%>.
            </p>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Comida con alto contenido energético:</li>
                    <li class="list-group-item"><b>Toda la comida </b><u>excepto</u> la mayoría de frutas y verduras</li>
                    <li class="list-group-item">Frutas con alto contenido energético: plátano y aguacate</li>
                    <li class="list-group-item">Verduras con alto contenido energético: papa, camote y calabaza</li>
                </ul>
            </div>
            <br/>
        </div>
    </div>