<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Alimentos ideales para Empezar</h1>
            <br>
            <div>
                <img src="/assets/Platos/6 Platos.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                Esto es lo divertido y fascinante de baby led weaning o alimentación complementaria: le puedes ofrecer mucho más de lo que jamás imaginaste! No añadir sal y es preferible que tampoco tenga azúcar, aditivos o conservadores ni mucha grasa. Pero excluyendo
                eso, todo lo que comes tu lo puede comer tu bebé, siempre y cuando los alimentos sean frescos y nutritivos.</p>
            <p>
                ¿Pasta boloñesa? ¡Perfecto! ¿Mango y fresas? ¡Claro! ¿Curry Thai de pollo con pimientos rojos? ¡Sí! Olvídate de lo que crees saber hasta ahora, si tu bebé cumple con
                <%= link_to "los requisitos", pages_edad_para_empezar_blw_path%> para comenzar baby led weaning o alimentación complementaria, es hora de ayudar a tu bebé a descubrir el maravilloso mundo de la comida</p>
            <p>Hay algunos alimentos que son ‘ideales’ para el principio. ¿Por qué? Porque son alimentos muy nutritivos, sanos y que se prestan fácilmente a ser manipulados por manitas pequeñas. También es bueno privilegiar alimentos altos en hierro como
                la carne, pescado, pollo y huevo y alimentos con alto contenido energético. Pero en realidad puedes comenzar con lo que quieras.</p>
            <p>Además no le temas al sabor y usa especias! Agrégale canela, jengibre, perejil, ajo, mantequilla, cebolla, cilantro o lo que quieras para darle un buen sazón. Deja al lado alimentos sosos y desabridos.</p>
            <p>Algunas cosas para tomar en cuenta:
                <ol>
                    <li>
                        <p>Si son resbalosos como el agucate, mango o plátano, déjales la cáscara para que puedan agarrarlo mejor. Pela la mitad del plátano y la otra dejala con cáscara por ejemplo.</p>
                    </li>
                    <li>
                        <p>Ofrece pedazos grandes para que puedan agarralos y llevárselos a la boca. Evita
                            <%= link_to "alimentos peligrosos", pages_lista_alimentos_peligrosos_path%> y recuerda que el alimento se debe poder <b>deshacer entre tu pulgar e índice</b>.
                        </p>
                    </li>
                    <li>
                        <p>
                            Privilegia
                            <%= link_to "alimentos con hierro", pages_lista_alimentos_hierro_path%> para evitar la anemia.
                        </p>
                    </li>
                    <li>
                        <p>
                            El tamaño ideal es más largo que el puño de tu bebé para que pueda agarrarlo y le sobre un poco para meterlo a la boca. Pero no olvides el alimento se debe poder <b>deshacer entre tu pulgar e índice</b>
                        </p>
                    </li>
                    <li>
                        <p>
                            Ofrece de poco en poco para no abrumar a tu bebé. Uno o dos alimentos diferentes a la vez y en poca cantidad.
                        </p>
                    </li>
                    <li>
                        <p>
                            ¡Dale sabor! Usa jengibre, ajo, perejil, cilantro, oregano, canela, paprika y cúrcuma para darle sabor a los alimentos sin utilzar sal.
                        </p>
                    </li>
                </ol>
            </p>
            <p>Aquí una lista de alimentos ‘fáciles' para comenzar BLW:</p>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Primeros alimentos</li>
                    <li class="list-group-item">Aguacate*</li>
                    <li class="list-group-item">Plátano*</li>
                    <li class="list-group-item">Mango*</li>
                    <li class="list-group-item list-group-item-success">Carne de res, cordero o puerco**</li>
                    <li class="list-group-item list-group-item-success">Pollo**</li>
                    <li class="list-group-item">Manzana bien cocida sin cáscara</li>
                    <li class="list-group-item">Zanahoria cocida</li>
                    <li class="list-group-item">Calabacita cocida</li>
                    <li class="list-group-item">Papa cocida o a la francesa (al horno o fritas en mantequilla no aceite)</li>
                    <li class="list-group-item">Huevo revuelto</li>
                    <li class="list-group-item list-group-item-success">Avena fortificada con hierro**</li>
                    <li class="list-group-item">Pasta</li>
                    <li class="list-group-item list-group-item-success">Hummus**</li>
                    <li class="list-group-item">Pan tostado</li>
                    <li class="list-group-item">Pan francés</li>
                    <li class="list-group-item list-group-item-success">Frijoles machacados**</li>
                    <li class="list-group-item list-group-item-success">Hígado rallado o pate**</li>
                    <li class="list-group-item list-group-item-success">Robalo, sardinas, arenque, trucha arcoiris, salmón, huachinango, curbina, carpa y mero entre otros**</li>
                    <li class="list-group-item">Yogur sin azúcar</li>
                </ul>
            </div>
            <br>
            <p>
                ** Comida alta en hierro. Los alimentos más comunes son la carne, el pescado y las aves. Pero
                <%=link_to "aquí", pages_hierro_path%> tenemos una lista con más alimentos.
            </p>
            <br/>
            <p>
                *A los alimentos ‘resbalosos’ como el aguacate, plátano y mango por ejemplo, les puedes dejar la cascara para que sea más fácil agarrarlos. Al plátano lo puedes dejar mitad con cáscara y mitad sin, permitiendo a tu bebé de agarrar la parte de cáscara
                y probar la parte sin cáscara. Al mango y aguacate los puedes partir en rebanadas e igualmente dejarles la cáscara por fuera.
            </p>
            <br/>
            <p>
                El yogur es preferible sin azúcar, ni frutas, ni purés para endulzarle. El gusto por lo endulzado es una preferencia que desarrollamos después por la comida endulzada, pero tu bebé es nuevo y el yogur sencillo le gustará mucho. Es lo mejor y más sano.
            </p>
            </br>
        </div>
    </div>
</div>