<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Alimentos con Hierro</h1>
            <br>
            <p>La anemia, por falta de hierro, es uno de los problemas más frecuentes de los niños durante el crecimiento. 
            El hierro es importante en la producción de la hemoglobina, las células rojas de la sangre responsables de 
            transportar el oxígeno, y la mioglobina, un pigmento que almacena el oxígeno en los músculos. La 
            falta de hierro puede causar anemia, lo cual puede resultar en fatiga, debilidad e irritabilidad.</p> 
            <br/>
            <p>Puesto que el hierro también afecta al desarrollo cerebral, la anemia puede causar problemas duraderos 
            en el desarrollo cognitivo. Una deficiencia de hierro severa, puede poner en riesgo la vida.</p>
            <br/>
            <p>
                Comúnmente los cereales fortificados con hierro suelen ser el estándar para asegurar una dieta con suficiente hierro pero estos son esencialmente una combinación de agua, aceites vegetales y al menos 4 o hasta 6 distintos tipos de azúcar. En su lugar
                busca avena fortificada con hierro que suele tener menos cantidades de azúcares y un mayor valor nutritivo.
            </p>
            <br/>
            <p>
                A continuación hay una lista de comida alta en hierro. La carne roja, aves y pescado son la mejor opción. Trata de ofrecer una proteína diaria. Puedes hacer patés o cremas y untarlas en pan integral o ofrecerlos como dip y dejar que tu bebé use sus manos
                (probablemente) o frutas y vegetales para comérselo.
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos altos en Hierro</li>
                    <li class="list-group-item list-group-item-success">Carne de res, cordero o puerco</li>
                    <li class="list-group-item list-group-item-success">Aves</li>
                    <li class="list-group-item list-group-item-success">Huevo</li>
                    <li class="list-group-item">Hummus*</li>
                    <li class="list-group-item">Frijoles machacados*</li>
                    <li class="list-group-item">Garbanzos</li>
                    <li class="list-group-item list-group-item-success">Hígado rallado o pate</li>
                    <li class="list-group-item list-group-item-success">Avena fortificada con hierro</li>
                    <li class="list-group-item">Espinaca y col rizada (kale en ingles)*</li>
                    <li class="list-group-item">Lentejas*</li>
                    <li class="list-group-item">Chícharos*</li>
                    <li class="list-group-item list-group-item-success">Robalo, sardinas, arenque, trucha arcoiris, salmón, huachinango, curbina, carpa y mero entre otros</li>
                </ul>
            </div>
            <br/>
            <p>
                <b>Además es importante saber que existen dos tipos de hierro:</b> el <b>hémico</b> (de origen animal) y el <b>no hémico*</b> (de origen vegetal) y se absorben en un <b>20% a 30%</b> y <b>3% a 8%</b> respectivamente. Para mejorar la absorción
                del hierro no hémico siempre es bueno consumir al mismo tiempo alimentos que contengan vitamina C y <em>evitar aquellos que inhiben la absorción</em> como la leche de vaca y sus derivados, el salvado de trigo y los productos de soya.
                </p>
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos con vitamina C</li>
                    <li class="list-group-item">Brócoli</li>
                    <li class="list-group-item">Cítricos</li>
                    <li class="list-group-item">Pimientos (particularmente el rojo)</li>
                    <li class="list-group-item">Fresas</li>
                    <li class="list-group-item">Jitomates</li>
                    <li class="list-group-item">Kiwi</li>
                    <li class="list-group-item">Papaya</li>
                    <li class="list-group-item">Coliflor</li>
                    <li class="list-group-item">Col rizada (kale en inglés)</li>
                </ul>
                <br/>
        </div>
    </div>
</div>