<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Mitos acerca de Baby Led Weaning</h1>
            <div>
                <img src="/assets/PagesTips.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p><b class="onceUpon">¡Por fin tu bebé cumple con <%= link_to "todos los requisitos", pages_edad_para_empezar_blw_path%> para empezar sólidos!</b> Es un momento muy emocionante porque empieza una etapa muy divertida. Si ya te decidiste empezar con baby led weaning
                o auto alimentación abajo está una guía que te ayudará a saber ¿por dónde empezar?, ¿qué puedes esperar? y ¿qué vas a necesitar?</p>
            <h3 class="entry-content">La silla</h3>
            <p>
                Para empezar BLW es necesario tener una sillita donde el bebé pueda sentarse cómodamente y estar siempre derecho. Esto es primordial para su seguridad: su cabeza y espalda deben de estar siempre derechas y alineadas. BLW implica batidero. Todo va a acabar
                batido: bebé, silla, piso y si las cortinas están cerca también. Por eso entre más ‘básica’ sea la silla, mejor. Esas sillitas preciosas con asientos de tela van a volverse tu pesadilla. El asiento de tela lo tendrás que lavar después
                de cada comida. Lo más fácil y práctico es una silla de plástico con charola. Algo facil de lavar, incluso que podrías meter a la regadera o limpiar a manguerazos (créeme que a veces es lo más fácil!) es lo mejor.
            </p>
        </div>
    </div>
</div>