<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <!--<img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">-->
            <h1 class="entry-title">Muffins de Calabacita</h1>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <img src="/assets/Recetas/Muf Calabacita 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>1 ½ taza de harina</p>

                </li>
                <li>
                    <p>¾ taza de <%= link_to "puré de dátiles", pages_pure_datiles_path%>*</p>

                </li>
                <li>
                    <p>1 cucharadita de bicarbonato de sodio</p>

                </li>
                <li>
                    <p>1 cucharadita de canela</p>

                </li>
                <li>
                    <p>1 cucharadita de nuez moscada</p>

                </li>
                <li>
                    <p>½ cucharadita de sal (opcional)**</p>

                </li>
                <li>
                    <p>1 huevo ligeramente batido</p>

                </li>
                <li>
                    <p>½ taza de puré de manzana</p>

                </li>
                <li>
                    <p>1 cucharada de jugo de limón</p>

                </li>
                <li>
                    <p>1 cucharadita de vainilla</p>

                </li>
                <li>
                    <p>1 taza de calabacita rallada</p>

                </li>
                <li>
                    <p>½ taza de chocolate oscuro picado o en trozos (opcional)</p>

                </li>
                <li>
                    <p>½ taza de nueces picadas (opcional)</p>
                </li>
            </ul>
            <br>
            <p>
                *Si no tienes
                <%= link_to "puré de dátiles", pages_pure_datiles_path%> lo puedes hacer con ¾ taza de azúcar pero no tendrá el mismo valor nutricional. El puré de dátiles es super fácil de hacer y una maravilla nutricional,
                    <%= link_to "aqui la receta", pages_pure_datiles_path%>.
            </p>
            <p>
                **Si hace la receta para menores de 12 meses, es mejor evitar la sal.
            </p>
        </div>
        <div>
            <br>
            <p>
                <b>Esta es una receta sana</b> y fácil de muffins de calabacita. Lo mejor es que son hechos con puré de dátiles, puré de manzana y calabacita. Sin azúcar ni aceite y la sal es opcional. Son buenísimos para manos pequeñitas que están aprendiendo
                a coordinar. Los puedes hacer en mini muffins para tener un tamaño más conveniente para bebes y niños pequeños. Si es así, checa el tiempo de horneado a los 15 minutos. El chocolate oscuro y nueces son opcionales, los puedes 
                hacer con pasitas o asi solitos si prefieres. 
            </p>
            <h3>
                Instrucciones
            </h3>
            <p>
                Precalentar el horno a 175°C. Engrasa el molde de muffins o ponle los papelitos.
            </p>
            <br/>
            <p>
                Combina los ingredientes secos (harina, canela, sal, bicarbonato de sodio, nuez moscada) en un bol y mézclalos bien. </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En otro bol mezcla los otros ingredientes excepto la nuez, la calabacita y el chocolate. </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Echa los ingredientes del segundo bol al primero y mezcla hasta que quede homogéneo. </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Mezcla hasta que quede uniforme. </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Incorpora la calabacita, la nuez y el chocolate.
            </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                Llena ⅔ el molde con la mezcla y hornea 20 a 25 minutos o hasta que metas un palillo en el centro del muffin y salga limpio.
            </p>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <div>
                <p>
                    Son excelente como snack, desayuno o postre. </p>
                <img src="/assets/Recetas/Muf Calabacita 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <div>
                <img src="/assets/Recetas/Muf Calabacita 9.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <h3>
                Instrucciones
            </h3>
            <ol>
                <li>
                    <p>Precalentar el horno a 175°C. Engrasa el molde de muffins o ponle los papelitos.</p>

                </li>
                <li>
                    <p>Combina los ingredientes secos (harina, canela, sal, bicarbonato de sodio, nuez moscada) en un bol y mézclalos bien.</p>

                </li>
                <li>
                    <p>En otro bol mezcla los otros ingredientes excepto la nuez, la calabacita y el chocolate.</p>

                </li>
                <li>
                    <p>Echa los ingredientes del segundo bol al primero y mezcla hasta que quede homogéneo.</p>

                </li>
                <li>
                    <p>Incorpora la calabacita, la nuez y el chocolate.</p>

                </li>
                <li><p>Llena ⅔ el molde con la mezcla y hornea 20 a 25 minutos o hasta que metas un palillo en el centro del muffin y salga limpio.</p></li>
            </ol>
        </div>
    </div>