<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <!--<img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">-->
            <h1 class="entry-title">Muffins de Plátano</h1>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <img src="/assets/Recetas/Platano 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>
                        3 plátanos muy maduros **
                    </p>
                </li>
                <li>
                    <p>
                        1 huevo
                    </p>
                </li>
                <li>
                    <p>
                        1½ tazas de harina
                    </p>
                </li>
                <li>
                    <p>
                        ⅓ taza de mantequilla derretida
                    </p>
                </li>
                <li>
                    <p>
                        ½ taza de puré de dátiles *
                    </p>
                </li>
                <li>
                    <p>
                        1 cucharadita de bicarbonato de sodio
                    </p>
                </li>
                <li>
                    <p>
                        1 cucharadita de polvo de hornear
                    </p>
                </li>
                <li>
                    <p>
                        ½ cucharadita de sal
                    </p>
                </li>
            </ul>
            <p>
                *Si no tienes puré de dátiles lo puedes hacer con ¾ taza de azúcar pero no tendrá el mismo valor nutricional. El puré de dátiles es super fácil de hacer y una maravilla nutricional.
            </p>
            <p>
                **El plátano entre más maduro mejor. Las manchas cafés son señal de que está maduro. Es cuando más cantidad de vitaminas y minerales contiene además de las enzimas que ayudan a la digestión.
            </p>
        </div>
        </br>
        <div>
            <br>
            <p>
                <b>Esta es una receta básica</b> y fácil de muffins de plátano. Puedes agregarle ⅓ taza de cocoa sin endulzar para hacerlos de chocolate o canela o nueces. Puedes hacer muchas combinaciones. Por eso esta receta es tan buena porque es una
                receta de base con la que puedes experimentar.
            </p>
            <p>
                Voy a hacerla con avena molida en lugar de harina para aumentar su valor nutricional y les aviso que tal salen.
            </p>
            <h3>
                Instrucciones
            </h3>
            <p>
                Precalentar el horno a 180°C.
            </p>
            <br/>
            <p>
                Mezlca los ingredientes secos en un bol.
            </p>
            <div>
                <img src="/assets/Recetas/Platano 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En otro bol machaca los plátanos con un tenedor.
            </p>
            <div>
                <img src="/assets/Recetas/Platano 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Incorpora el huevo y el puré de dátiles a los plátanos y mezcla bien. Enseguida agrega la mantequilla derretida.
            </p>
            <div>
                <img src="/assets/Recetas/Platano 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Finalmente incorpora lentamente los ingredientes secos a la mezcla de plátano y revuelve hasta que la mezcla que lisa y uniforme.
            </p>
            <div>
                <img src="/assets/Recetas/Platano 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Echa la mezcla en los moldes de muffins ⅔ de su capacidad y hornea 25 a 30 minutos. Si estás haciendo mini muffins hornéalos 10 a 15 minutos.
            </p>
            <div>
                <img src="/assets/Recetas/Platano 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                Puedes saber que están listos si el centro del muffin rebota cuando lo presionas ligeramente con tu dedo.
            </p>
                        <div>
                <img src="/assets/Recetas/Platano 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <div>
                <img src="/assets/Recetas/Platano 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <h3>
                Instrucciones
            </h3>
            <ol>
    <li>
        <p>
            Precalentar el horno a 180°C.
        </p>
    </li>
    <li>
        <p>
            Mezlca los ingredientes secos en un bol.
        </p>
    </li>
    <li>
        <p>
            En otro bol machaca los plátanos con un tenedor.
        </p>
    </li>
    <li>
        <p>
            Incorpora el huevo y el puré de dátiles a los plátanos y mezcla bien. Enseguida agrega la mantequilla derretida.
        </p>
    </li>
    <li>
        <p>
            Finalmente incorpora lentamente los ingredientes secos a la mezcla de plátano y revuelve hasta que la mezcla que lisa y uniforme.
        </p>
    </li>
    <li>
        <p>
        Echa la mezcla en los moldes de muffins ⅔ de su capacidad y hornea 25 a 30 minutos. Si estás haciendo mini muffins hornealos 10 a 15 minutos. Puedes
        saber que están listos si el centro del muffin rebota cuando lo presionas ligeramente con tu dedo.
        </p>
    </li>
</ol>
        </div>
    </div>
</div>