<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Primeros Auxilios</h1>
            <p>
                <b class="onceUpon">Los cursos de primeros auxilios </b>son <u>siempre</u> una buena idea, son la diferencia entre la vida y la muerte. Es por eso que es recomendable tomar un curso en cualquier etapa de tu vida. Y más aún cuando eres,
                o serás, mama o papa. Sobre todo cursos de primeros auxilios para bebés y niños menores. Siempre es importante estar preparado para cualquier emergencia.
            </p>
            <br/>
            <p>
                Si no has tomado un curso, siempre es un buen momento. De esta manera estarás preparado para cualquier eventualidad. Recuerda que un bebé o niño pequeño se puede ahogar con cualquier objeto que se meta a la boca y el ahogamiento nos sucede también a los
                adultos entonces sin importar de qué manera vayas a introducir sólidos, un curso de primeros auxilios es esencial.
            </p>
        </div>
    </div>
