<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <!--<img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">-->
            <h1 class="entry-title">Puré de Dátiles</h1>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <img src="/assets/Recetas/Pure datiles 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>
                        100 ml de agua
                    </p>
                </li>
                <li>
                    <p>
                        275 gramos de dátiles sin hueso
                    </p>
                </li>
                <li>
                    <p>
                        ½ cucharadita de vainilla
                    </p>
                </li>
                <li>
                    <p>
                        Una pizca de sal
                    </p>
                </li>
            </ul>
            <br>
            <br>
            <p>
                Los dátiles son una pequeña <b>maravilla nutricional</b>:
            </p>
            <ul>
                <li>
                    <p>
                        Se digieren fácilmente
                    </p>
                </li>
                <li>
                    <p>
                        Son una buena fuente de fibra
                    </p>
                </li>
                <li>
                    <p>
                        Tienen vitamina A, B, hierro y potasio entre otros
                    </p>
                </li>
                <li>
                    <p>
                        Contienen aminoácidos y antioxidantes
                    </p>
                </li>
            </ul>
            <p>
                Yo no era fan de los dátiles, se me hacian medio aburridos y secos, no les encontraba el chiste. Pero empecé a leer muchas recetas con dátiles como sustituto de azúcar y me intrigo. ¡Pero no fue hasta hacer y probar la pasta de dátiles que me enamoré!
            </p>
            <p>
                Es deliciosa, fácil de hacer, muy nutritiva y la puedes usar para casi todo. Esta receta es de lo más sencillo y versátil. Es una excelente manera de endulzar postres (para remplazar el azúcar), malteadas, avena, café, té o untarlo en pan. En realidad
                las posibilidades son infinitas.
            </p>
            <p>
                Si la guardas en una mason jar en el refri se conserva 2 semanas o hasta 2 meses en el congelador. Guarda 
                en cantidades pequenas para que cuando lo descongeles no tengas que descongelar todo si es mas de lo que usarias en 
                2 semanas.
            </p>
            <p>
                Yo compro una bolsa grande en Costco y hago la mitad. Los guardo en mason jars de 8 oz. 
            </p>
            <p>
                Como referencia: 1 <b>cucharadita</b> de azúcar tiene 16 calorías, 4 gramos de azúcar y 0 fibra. En cambio 1 <b>cucharada</b> de pasta de dátiles tiene aproximadamente 35 calorías, 6 gramos de azúcar y 1 gramo de fibra además de vitaminas
                y minerales.
            </p>
            <h3>
                Instrucciones
            </h3>
            <p>
                En realidad no hay mucho que decir para esta receta: remojas los dátiles en agua para que se ablanden un poco (puede ser toda la noche o con agua hirviendo si no quieres esperar) y lo mezclas en un procesador o magic bullet. Yo recomendaría no olvidar
                la vainilla y sal ya que hacen una gran diferencia pero son opcionales. O puedes agregarle canela, jengibre o lo que quieras.
            </p>
            <br/>
            <p>
                Cubrir con agua los dátiles y dejar reposar toda la noche o si tienes prisa, con agua caliente para que se ablanden. Es una buena idea asegurarse que no se haya colado un hueso porque te puede echar a perder el procesador.
            </p>
            <div>
                <img src="/assets/Recetas/Pure datiles 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Cuela el agua y pon los dátiles en el procesador junto con la vainilla, la pizca de sal y pulsa.
            </p>
            <div>
                <img src="/assets/Recetas/Pure datiles 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Mezcla hasta tener la consistencia deseada, unos 5-7 minutos. A mi me gusta una consistencia de mantequilla de cacahuate pero puede ser más líquida (si le echas un poco mas de agua) o con algunos grumos.
            </p>
            <div>
                <img src="/assets/Recetas/Pure datiles 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <div>
                <img src="/assets/Recetas/Pure datiles 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <h3>
                Instrucciones
            </h3>
            <ol>
    <li>
        <p>
            Cubrir con agua los dátiles y dejar reposar toda la noche o si tienes prisa, con agua muy caliente para que se ablanden. Es una buena idea
            asegurarse que no se haya colado un hueso porque te puede echar a perder la cuchilla del procesador.
        </p>
    </li>
    <li>
        <p>
            Cuela el agua y pon los dátiles en el procesador junto con la vainilla y la pizca de sal.
        </p>
    </li>
    <li>
        <p>
            Mezcla hasta tener la consistencia deseada, unos 5-7 minutos. A mi me gusta una consistencia de mantequilla de cacahuate pero puede ser más líquida
            (si le echas un poco mas de agua) o con algunos grumos.
        </p>
    </li>
</ol>
        </div>
    </div>
</div>