<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Vitamin C.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Ratatouille</h1>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <br>
            <img src="/assets/Recetas/Ratatouille 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>
                        1 berenjena cortada en bastones
                    </p>
                </li>
                <li>
                    <p>
                        2 calabacitas cortada en bastones
                    </p>
                </li>
                <li>
                    <p>
                        2 pimientos cortados en bastones
                    </p>
                </li>
                <li>
                    <p>
                        750 gramos de jitomates en cuadritos
                    </p>
                </li>
                <li>
                    <p>
                        ½ cebolla grande picada
                    </p>
                </li>
                <li>
                    <p>
                        2 ajos machacados
                    </p>
                </li>
                <li>
                    <p>
                        Aceite de oliva
                    </p>
                </li>
                <li>
                    <p>
                        Albahaca
                    </p>
                </li>
                <li>
                    <p>
                        1 bouquet garni
                    </p>
                </li>
            </ul>
        </div>
        <br/>
         <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <p>
            No, no es sólo el nombre del ratoncito lindo de Disney. La <a href="http://www.slate.fr/story/88889/la-vraie-recette-ratatouille">Ratatouille</a> es un platillo tradicional francés, típico de la ciudad de Niza. Berenjena, jitomates, pimientos
            y calabacitas son los ingredientes principales de este platillo lo que lo hace altamente nutritivo. Altísimo en vitaminas C, K y A, y muy buena fuente de Potasio y Vitamina B12. Gracias a su alto contenido de <b>vitamina C</b> es un <b>excelente acompañamiento de un alimento alto en <%= link_to "hierro", pages_hierro_path%></b>.
        </p>
        <br/>
        <p>
            La ratatouille tradicional suele ser cortado en cuadritos pero esta receta ha sido ‘adaptada’ para pequenas manos. Entonces en lugar de cortar las verduras en cuadritos, se cortan en tiras largas para que tu bebe de 6, 7 y 8 meses lo pueda agarrar fácilmente.
            Puede parecerte que la cantidad de verdura es demasiada pero todo se reduce mucho tras la cocción.
        </p>
        <br/>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <p>
            Primero pica la cebolla y el ajo y corta los jitomates. Los puedes pelar pero yo prefiero no hacerlo ya que <a href="http://www.natursan.net/tomates-beneficios-y-propiedades/">la piel es lo que contiene más propiedades antioxidantes y fibra.</a>
        </p>
        <p>
            Luego siguen la berenjena, calabacitas y pimientos. Normalmente se cortan en dados pero en este caso córtalas en bastones largos (como tamaño de una papa frita). Como lo muestra la foto de ingredientes.
        </p>
        <p>
            En una olla muy grande (te debe caber todo en esta olla) a fuego bajo calienta aceite de coco (o el de tu preferencia) y echa los jitomates en una olla muy grande con una pizca de sal, pimienta y un bouquet garni (opcional). Déjalo cocinar mientras haces
            todo lo demás.
        </p>
        <p>
            En un sartén a fuego medio, calienta el aceite y echa el ajo.
        </p>
        <p>
            Cuando esté ligeramente dorado, agrega la cebolla unos minutos y moviendo constantemente cocinar hasta que se ponga traslucida y agarre un poco de color. Luego pásala a un recipiente y dejar reposar. 
            <p>En el mismo sartén, vuelve a echar un poco de aceite y agrega los pimientos. Muévelos de vez en cuando para que se cocinen parejos. Unos 5 o 6 minutos hasta que estén un poco suaves. Luego pásalos al mismo recipiente de las cebollas y deja reposar.</p>
        </p>
        <div>
                <img src="/assets/Recetas/Ratatouille 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
        <br/>
        <p>
            Haz lo mismo con las calabacitas y berenjenas. Cocinalas y ponlas en un recipiente. 
        </p>
        <div>
                <img src="/assets/Recetas/Ratatouille 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
        <br/>
        <p>
            Finalmente tomamos todas las verduras que esperan en el recipiente y las echamos en la olla con los jitomates y la albahaca.
        </p>
        <div>
                <img src="/assets/Recetas/Ratatouille 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
        <br/>
        <p>
            Dejamos que se sigan cocinando 20 a 30 minutos. Y se puede servir frío o caliente. Si te sobra o hiciste el doble, lo puedes congelar hasta un mes en el congelador.
        </p>
       
        <div>
                <img src="/assets/Recetas/Ratatouille 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
             <p>
            Si lo vas a servir a un bebé entre 6 y 12 meses de edad, la foto de arriba es la cantidad que le ofrecería para empezar. Si quiere más, 
            le sirves más pero para no abrumarlo y que el tiradero sea menor, empieza con poquito. La foto de abajo es un ejemplo para un niño mayo de 12 meses. 
        </p>
        <br>
        <div>
                <img src="/assets/Recetas/Ratatouille 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
        <br/>
        <br>
        <h3>
            <b>Instrucciones</b>
        </h3>
        <ol>
            <li>
                <p>
                    Primero pica la cebolla y el ajo y corta los jitomates. Los puedes pelar pero yo prefiero no hacerlo ya que l <a href="http://www.natursan.net/tomates-beneficios-y-propiedades/">a piel es lo que contiene más propiedades antioxidantes y fibra.</a>
                </p>
            </li>
            <li>
                <p>
                    Luego siguen las calabacitas, berenjena, y pimientos. Normalmente se cortan en dados pero en este caso córtalas en bastones largos (como tamaño de una papa frita).
                </p>
            </li>
            <li>
                <p>
                    En una olla muy grande (te debe caber todo en esta olla) a fuego bajo calienta aceite de coco (o el de tu preferencia) y echa los jitomates en una olla muy grande con una pizca de sal, pimienta y un bouquet garni (opcional). Déjalo cocinar mientras haces
                    todo lo demás.
                </p>
            </li>
            <li>
                <p>
                    En un sartén a fuego medio, calienta el aceite y echa el ajo.
                </p>
            </li>
            <li>
                <p>
                    Cuando esté ligeramente dorado, agrega la cebolla unos minutos y moviendo constantemente cocinar hasta que se ponga traslucida y agarre un poco de color. Luego pásala a un recipiente y dejar reposar.
                </p>
            </li>
            <li>
                <p>
                    En el mismo sartén, vuelve a echar un poco de aceite y agrega los pimientos. Muévelos de vez en cuando para que se cocinen parejos. Unos 5 o 6 minutos hasta que estén un poco suaves. Luego pásalos al mismo recipiente de las cebollas y deja reposar.
                </p>
            </li>
            <li>
                <p>
                    Haz lo mismo con las calabacitas y las berenjenas.
                </p>
            </li>
            <li>
                <p>
                    Finalmente tomamos todas las verduras que esperan en el recipiente y las echamos en la olla con los jitomates y la albahaca.
                </p>
            </li>
            <li>
                <p>
                Dejamos que se sigan cocinando 20 a 30 minutos. Y se puede servir frío o caliente. Si te sobra o hiciste el doble, lo puedes congelar hasta un mes en el congelador.
            </p>
            </li>
        </ol>