<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Recetas</h1>
            </br>
            <div>
                <img src="/assets/Recetas.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p><b>Aquí hay algunas recetas deliciosas, fáciles y nutritivas para compartir 
            con tu bebé y toda la familia.</b> Estaremos subiendo nuevas recetas continuamente.</p>
            <p>
                Este sitio fue creado para dar información acerca de baby led weaning (BLW), una forma de alimentación 
                complementaria. Las recetas que encuentres aquí son las que han pasado a ser favorita. </p>
                <p>Pero ni soy chef 
                profesional ni fotógrafa profesional. Sólo una mamá que quiere compartir unas recetas nutritivas y fáciles de 
                hacer. Ese es el propósito de estas recetas. Cocino y tomo 
                fotos mientras personitas impacientes revolotean a mi alrededor entonces a veces puede ser que me falte una foto o esté borrosa. 
                Pero ustedes saben como es eso ;)
            </p>
            <p>¡Visítanos próximamente o deja tu <a href="/contacts/new">email</a> para recibir las nuevas recetas en tu buzón!</p>
            <div>
                <h3><b>Desayuno</b></h3></div>
            <p>

            </p>
            <div>
                <h3><b>Comida/Cena</b></h3></div>
            <p>
                <b><%=link_to "Muffins de Macaroni and Cheese", pages_mac_and_cheese_path%></b>. Pasta con queso. Esta receta además tiene huevo y avena lo que la hace alta en hierro.
            </p>
            <p>
                <b><%= link_to "Ratatouille", pages_ratatouille_path%></b>. Pimientos rojos, berenjena y calabacita. La receta francesa es deliciosa y sumamente nutritiva.
            </p>
            <div>
                <h3><b>Snacks</b></h3></div>
            <p>
                <b><%= link_to "Trufas de Cocoa y Almendras", pages_trufas_cocoa_path%></b>. ¡Absolutamente deliciosas! Trufas de chocolate sumamente nutritivas con mucho hierro.
            </p>
        </div>
    </div>
</div>