<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Recetas</h1>
             </br>
            <div>
                <img src="/assets/Recetas.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <p><b>Aquí hay algunas recetas deliciosas, fáciles y nutritivas para compartir 
            con tu bebé y toda la familia.</b> Estaremos subiendo nuevas recetas continuamente.</p> 
            <p>¡Visítanos próximamente o deja tu email para recibir 
            las nuevas recetas en tu buzón!</p>
            <div><h3><b>Desayuno</b></h3></div>
            <p>
                
            </p>
            <div><h3><b>Comida/Cena</b></h3></div>
            <p>
             <b><%=link_to "Muffins de Macaroni and Cheese", pages_mac_and_cheese_path%></b>. Pasta con queso. Esta receta además tiene huevo y avena lo que la hace alta en hierro.   
            </p>
            <div><h3><b>Snacks</b></h3></div>
            <p>
                
            </p>
        </div>
    </div>
</div>