<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Recetas</h1>
             </br>
            <div>
                <img src="/assets/Recetas.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>Aquí hay algunas recetas deliciosas, fáciles y nutritivas para compartir 
            con tu bebé y toda la familia. Estaremos subiendo nuevas recetas continuamente.</p> 
            <p>¡Visítanos próximamente o deja tu email para recibir 
            las nuevas recetas en tu buzón!</p>
        </div>
    </div>
</div>