<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Reflejo nauseoso</h1>
            <p>
                También conocido como reflejo faríngeo o más comúnmente como “arcadas” o “atragamiento”, es una respuesta involuntaria a cualquier cosa que estimule la parte posterior de la garganta. Es lo que sucede si te metes un dedo a la parte posterior de la garganta.
                Esta contracción involuntaria está diseñada para evitar que la comida o el agua se vaya a tu tráquea, o algo demasiado grande para tragar se vaya a tu garganta. En pocas palabras es un reflejo diseñado para evitar la asfixia y es más sensible
                en los bebés. Cuando se activa este reflejo no se debe intervenir, sobre todo nunca debes tratar de sacar lo que el bebé tenga en la boca con tu dedo porque podrías sin querer empujarlo más hacia adentro y poner al bebé en verdadero peligro.
            </p>
            <br/>
            <p>
                El reflejo nauseoso (gagging en inglés) suele ser confundido con ahogamiento. Esto es a lo que comúnmente nos referimos cuando decimos ‘mi bebé se ahogó con un pedazo de _____ y lo escupió.’ En general lo que pasó fue que su reflejo nauseoso se activó
                porque lo que tenía en la boca era demasiado grande, demasiada cantidad o se le fue más atrás de lo que se esperaba y entonces tu bebe empezo a hacer arcadas. En otras palabras, tu bebé se metió algo a la boca, su reflejo nauseoso le envió
                una señal: ‘Oye esta muy grande, es mucho. Va pa’ fuera’ y lo echó para protegerse y evitar el peligro. El reflejo nauseoso es clave y nuestro aliado en la introducción de alimentos guiada por bebé.
            </p>
            <br/>
            <p>
                Es probable que las primeras veces que se siente a comer, verás activarse el reflejo nauseoso. Es importante saber reconocerlo, no asustarse (o al menos tratar) y mantener una expresión relajada porque si tu empiezas a gritar y casi llorar, tu bebé creerá
                que algo pasa y se va a asustar. Recuerda que la activación de este reflejo no significa que el bebé se está ahogando, sino más bien es una forma de empujar el alimento hacia fuera para evitar el atragantamiento.
            </p>
            <br/>
            <p>
                No es coincidencia que cuando desaparece el reflejo de extrusión y se desensibiliza el reflejo nauseoso, aparece la capacidad de deglutir y masticar. Este es el proceso natural que realiza el cuerpo de tu bebé y nosotros lo acompañamos y guiamos. El reflejo
                nauseoso es mas sensible en los bebés e inicalmente cubre 3/4 de la parte posterior de la lengua, pero conforme va creciendo (alrededor de los 9 meses), el area del reflejo nauseoso se disminuye a unicamente 1/3 de la parte posterior de
                la lengua hasta llegar a la misma parte que nosotros, ya practicamente atras en la garganta.
            </p>
            <br/>
            <p>
                Cabe mencionar que el reflejo nauseoso lo vemos también cuando se introducen purés y papillas. Sobre todo si se introducen prematuramente (4 o 5 meses). Abajo hay un video de un bebé haciendo arcadas con purés.
            </p>
            <br/>
            <p>
                <a href="https://www.youtube.com/watch?v=vQU__0WzI6Y">https://www.youtube.com/watch?v=vQU__0WzI6Y</a>
            </p>
            <br/>
            <p>
                Aquí podemos ver que en el segundo 11, el bebé empieza a hacer arcadas antes de que tenga puré en la boca. Lo que le activa el reflejo nauseoso es la cuchara. Luego escupe el puré por reflejo de extrusión. Y si vemos en el segundo 59 comienza a voltear
                la cabeza, una clara señal que ya no quiere. Si a veces le quieres dar purés o algo que requiera cuchara como el yogur, reconoce y respeta sus señales de saciedad.
            </p>
            <br/>
            <p>
                Otro bebé atragantándose con puré
            </p>
            <br/>
            <p>
                <a href="https://www.youtube.com/watch?v=PTQT_AbRe3c">https://www.youtube.com/watch?v=PTQT_AbRe3c</a>
            </p>
            <br/>
            <p>
                Y uno haciendo arcadas con un pedazo de brócoli.
            </p>
            <br/>
            <p>
                <a href="https://www.youtube.com/watch?v=PTQT_AbRe3c">https://www.youtube.com/watch?v=PTQT_AbRe3c</a>
        </div>
    </div>
</div>