<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Reflejo de Extrusión</h1>
            <p>
                Es el movimiento que hace tu bebé con su lengua para expulsar cualquier no-líquido de su boca. Este reflejo protege a tu bebé de un posible ahogamiento ya que se expulsa al exterior cualquier cosa otra que la leche. Es su manera de decirnos que todavia
                no quieren ningun otro alimento. </p>
                <p>Muchas veces este reflejo es interpretado como una señal de que al bebé no le gusta la comida que le ofrecemos, pero en realidad se trata de un movimiento automático que sucede cuando tu bebe todavia no
                esta listo para la comida. Perder el reflejo de extrusión es uno de <%= link_to "los indicadores", pages_edad_para_empezar_blw_path%> que tu bebé está listo para aceptar otro alimento que no sea la leche.
            </p>
            <br/>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        <h2 id="videoCarlosTed">Demasiado temprano para empezar sólidos</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xqJuTcinNQk"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                En este video vemos a un bebé demasiado pequeño comenzando con sólidos. Lo que se interpreta como fuchi o disgusto, es el reflejo de extrusión. El bebé está escupiendo el puré simplemente porque no está en edad de saber masticar y se protege de cualquier
                consistencia no líquida, entiéndase purés, juguetes o pollo. Todavía no está listo para sólidos no tiene nada que ver con el sabor.
            </p>
            </br>
            <p>¿Conoces la diferencia entre
                <%=link_to "ahogamiento y reflejo nauseoso", pages_ahogamiento_path%>?</p>
        </div>
    </div>
</div>