<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Risotto de berenjenas</h1>
        </div>
        <div>
            <img src="/assets/Recetas/Risotto Berenjena 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h3 class="ingredients">Ingredientes</h3>
            <br>
            <ul>
                <li>
                    <p>
                        *2 berenjenas medianas
                    </p>
                </li>
                <li>
                    <p>
                        ½ taza de aceite de oliva + 1 cucharada
                    </p>
                </li>
                <li>
                    <p>
                        ½ cebolla picada finamente
                    </p>
                </li>
                <li>
                    <p>
                        2 dientes de ajo
                    </p>
                </li>
                <li>
                    <p>
                        200 g de arroz arborio (para risotto)
                    </p>
                </li>
                <li>
                    <p>
                        **½ taza de vino blanco seco
                    </p>
                </li>
                <li>
                    <p>
                        1 litro de caldo de pollo o vegetales (aprox. menos si usas vino)
                    </p>
                </li>
                <li>
                    <p>
                        2 cucharadas de limón amarillo (o 1 si usas verde)
                    </p>
                </li>
                <li>
                    <p>
                        1½ cucharadas de mantequilla
                    </p>
                </li>
                <li>
                    <p>
                        ½ taza de parmesano rallado (usa real no de bolsa o bote)
                    </p>
                </li>
                <li>
                    <p>
                        ½ taza de albahaca despedazada o en tiras
                    </p>
                </li>
                <li>
                    <p>
                        Sal y pimienta
                    </p>
                </li>
            </ul>
            <p>
                *Yo ese día no tenía 2 y use 1 grande, me quedó delicioso y me pareció suficiente.
            </p>
        </div>
        <div>
            <p>
                **Opcional. Aún después de 2.5 horas de cocción queda un 5% de alcohol en el vino. Sin embargo lo dejo dentro de los ingredientes porque si estás haciendo este plato para niños mayores o para adultos, es bueno agregarlo.
            </p>
            <br>
            <p>
                <b>Esta receta es FE-NO-ME-NAL.</b> El risotto es una receta clásica de risotto. Lo que la hace espectacular es la berenjena. Es una adaptación del maravilloso chef 
                <a href="https://www.amazon.com.mx/gp/product/1452101248/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452101248&linkCode=as2&tag=blenes02-20&linkId=6f821d2a0441b9a96bcc2a5d7e0fa07f" target="_blank">Ottolenghi de su libro igualmente maravilloso “Plenty”</a>. Es una receta
                que puedes hacer cuando tengas invitados y quieras encantarlos o simplemente quieras consentirte a ti y tu familia, incluyendo al más pequeño integrante.
            </p>
            <p>
                Es un libro de recetas vegetarianas. Si les gusta cocinar y quieren recetas diferentes que deleitan los sentidos, se los recomiendo ampliamente. Aunque algunos ingredientes son caros y otros difíciles de encontrar, si le sabes a la cocina este libro está
                lleno de recetas novedosas que te inspirarán. Si eres principiante tal vez no sea el libro para ti porque algunas recetas no tienen medidas precisas o debes calcularle a ‘ojo de buen cubero’.
            </p>
            <h3>
                Instrucciones
            </h3>
            <p>
                1. Comienza por quemar la berenjena (o la mitad si sólo usas 1). La puedes quemar:
            </p>
            <ul>
                <li>
                    <p>
                    <em>Directamente en la lumbre.</em> Asegura de voltearla seguido (con unas pinzas) para que se queme por todas partes. Normalmente son 15 minutos mas o menos. Hasta que la piel quede quemada y el interior suave.
                    </p>
                </li>
                <li>
                    <p>
                        <em>En el horno.</em> Con un cuchillo filoso, perfora la berenjena en varios lugares, ponla en una charola con una cucharadita de aceite de oliva (sólo para que no se pegue) y métela al horno en la función parrilla por 45 minutos. Voltéala unas 3 o 4 veces.
                        La berenjena se debe desinflar por completo y la piel se debe quemar y romper. Debe quedar muy arrugada.
                    </p>
                </li>
                <li>
                    <p>
                        <em>En la parrilla.</em> Dale vueltas cuando veas que un lado ya está quemado hasta que quede completamente quemada de todas partes (como 20 minutos).
                    </p>
                </li>
            </ul>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                2. Una vez que la berenjena quede completamente quemada, retírala del
                fuego y haz un corte vertical que la parta en dos. Retira la piel
                con cuidado de no quemarte y descártala. Corta la berenjena en
                trozos y guarda para después.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                3. Corta la otra berenjena (o la otra mitad si sólo usas 1) en
                cuadrados grandes dejando la piel.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                4. Calienta ⅓ taza de aceite de oliva en un sartén a fuego medio y
                fríe la berenjena (no la eches hasta que esté muy caliente el
                aceite sino la berenjena absorbe todo el aceite). No llenes el
                sartén, deja espacio entre ellas y cocina en tandas. Fríe hasta que
                queden doradas y crujientes. Pásalas a una coladera y deja que se
                enfríen.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                5. En el mismo sartén a fuego lento, echa un poco de aceite y agrega
                la cebolla picada hasta que quede traslúcida y suave. A mi se me
                doró un poco porque mi fuego estaba muy alto y no pasa nada. Agrega
                el ajo y cocina otros 3 minutos. Incrementa el fuego a medio-alto y
                echa el arroz, revolviendo hasta que quede todo envuelto en aceite.
                Fríe otros 2-3 minutos y agrega el vino (si es que lo vas a usar)
                hasta que se evapore casi entero.
            </p>
            <p>
                6. Reduce el fuego a medio, añade un cucharón del caldo y revuelve
                hasta que se absorba completamente. Entonces agrega otro cucharón
                de caldo y así sucesivamente hasta que el arroz esté cocido (puede
                que uses un poco menos que un litro por eso cuando ya casi se vaya
                a acabar tu caldo, prueba el arroz para ver si ya está). No debe de
                estar completamente suave, sino ligeramente al dente.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 7.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                7. Remueve el sartén del fuego y agrega el jugo de limón, la berenjena
                sin piel, la mantequilla, y ¾ partes del parmesano más un poco de
                pimienta negra. Revuelve todo hasta que quede bien mezclado. Si
                deseas puedes agregar una pizca de sal aunque si es para bebés
                mejor evítala y suele no necesitarla de todas maneras.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 8.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                8. Sirve en un platón, espolvorea el parmesano, los trozos de
                berenjena con piel y la albahaca.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 11.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>
                9. Si es para bebés que aún no dominan la cuchara o tenedor, las
                puedes hacer tortitas como hamburguesa o como croquetas. Si vas a
                darles esta forma, es mejor esperar a que estén tibias.
            </p>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 9.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <div>
                <img src="/assets/Recetas/Risotto Berenjena 10.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <h3>
                Instrucciones
            </h3>
            <ol>
                <li>
                    <p>
                        Comienza por quemar la berenjena (o la mitad si sólo usas 1). La puedes quemar:
            </p>
            <ul>
                <li>
                    <p>
                    <em>Directamente en la lumbre.</em> Asegura de voltearla seguido (con unas pinzas) para que se queme por todas partes. Normalmente son 15 minutos mas o menos. Hasta que la piel quede quemada y el interior suave.
                    </p>
                </li>
                <li>
                    <p>
                        <em>En el horno.</em> Con un cuchillo filoso, perfora la berenjena en varios lugares, ponla en una charola con una cucharadita de aceite de oliva (sólo para que no se pegue) y métela al horno en la función parrilla por 45 minutos. Voltéala unas 3 o 4 veces.
                        La berenjena se debe desinflar por completo y la piel se debe quemar y romper. Debe quedar muy arrugada.
                    </p>
                </li>
                <li>
                    <p>
                        <em>En la parrilla.</em> Dale vueltas cuando veas que un lado ya está quemado hasta que quede completamente quemada de todas partes (como 20 minutos).
                    </p>
                </li>
            </ul>
                    </p>
                </li>
                <li>
                    <p>
                        Una vez que la berenjena quede completamente quemada, retírala del
                        fuego y haz un corte vertical que la parta en dos. Retira la piel
                        con cuidado de no quemarte y descártala. Corta la berenjena en
                        trozos y guarda para después.
                    </p>
                </li>
                <li>
                    <p>
                        Corta la otra berenjena (o la otra mitad si sólo usas 1) en
                        cuadrados grandes dejando la piel.
                    </p>
                </li>
                <li>
                    <p>
                        Calienta ⅓ taza de aceite de oliva en un sartén a fuego medio y
                        fríe la berenjena (no la eches hasta que esté muy caliente el
                        aceite sino la berenjena absorbe todo el aceite). No llenes el
                        sartén, deja espacio entre ellas y cocina en tandas. Fríe hasta que
                        queden doradas y crujientes. Pásalas a una coladera y deja que se
                        enfríen.
                    </p>
                </li>
                <li>
                    <p>
                        En el mismo sartén a fuego lento, echa un poco de aceite y agrega
                        la cebolla picada hasta que quede traslúcida y suave. A mi se me
                        doró un poco porque mi fuego estaba muy alto y no pasa nada. Agrega
                        el ajo y cocina otros 3 minutos. Incrementa el fuego a medio-alto y
                        echa el arroz, revolviendo hasta que quede todo envuelto en aceite.
                        Fríe otros 2-3 minutos y agrega el vino (si es que lo vas a usar)
                        hasta que se evapore casi entero.
                    </p>
                </li>
                <li>
                    <p>
                        Reduce el fuego a medio, añade un cucharón del caldo y revuelve
                        hasta que se absorba completamente. Entonces agrega otro cucharón
                        de caldo y así sucesivamente hasta que el arroz esté cocido (puede
                        que uses un poco menos que un litro por eso cuando ya casi se vaya
                        a acabar tu caldo, prueba el arroz para ver si ya está). No debe de
                        estar completamente suave, sino ligeramente al dente.
                    </p>
                </li>
                <li>
                    <p>
                        Remueve el sartén del fuego y agrega el jugo de limón, la berenjena
                        sin piel, la mantequilla, y ¾ partes del parmesano más un poco de
                        pimienta negra. Revuelve todo hasta que quede bien mezclado. Si
                        deseas puedes agregar una pizca de sal aunque si es para bebés
                        mejor evítala y suele no necesitarla de todas maneras.
                    </p>
                </li>
                <li>
                    <p>
                        Sirve en un platón, espolvorea el parmesano, los trozos de
                        berenjena con piel y la albahaca.
                    </p>
                </li>
                <li>
                    <p>
                        Si es para bebés que aún no dominan la cuchara o tenedor, las
                        puedes hacer tortitas como hamburguesa o como croquetas. Si vas a
                        darles esta forma, es mejor esperar a que estén tibias.
                    </p>
                </li>
            </ol>
            <div class="row">
                <a href="/pages/cantidades">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/851x315/Primer mes en total.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>¿Cuánto debe comer tu bebé?</h3>
                                <p>Podría sorprenderte la cantidad...</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pages/hierro">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/PepperMeat851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>La importancia del hierro</h3>
                                <p>La falta de hierro afecta el desarrollo cerebral y puede causar problemas...</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pages/guia_para_empezar_blw">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/851x315/GuiaNino.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>¿Cómo empezar BLW?</h3>
                                <p>Es un momento emocionante, empieza una etapa divertida ...</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>