<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Super hamburguesitas</h1>
        </div>
        <h3 class="ingredients">Ingredientes</h3>
        <div>
            <img src="/assets/Recetas/Hamburguesas 1.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>50 gramos (o ½ taza) zanahoria </p>
                </li>
                <li>
                    <p>50 gramos (o ½ taza) calabacita</p>

                </li>
                <li>
                    <p>20 gramos (o 1 cucharada) cebolla</p>

                </li>
                <li>
                    <p>300 gramos (o 1½ tazas) carne molida</p>

                </li>
                <li>
                    <p>½ ajo picado</p>

                </li>
                <li>
                    <p>½ cucharadita de oregano</p>

                </li>
            </ul>
        </div>
        <div>
            <br>
            <br>
            <p>
                <b>Las hamburguesas hechas en casa son una excelente fuente de proteína y hierro.</b> Además suelen ser 
                una comida favorita de los niños y son una excelente opción para bebés que apenas comienzan a comer ya que son fáciles de agarrar y tienen hierro. 
                Pero si además le incorporamos un poco de vegetales para incrementar su sabor y valor nutricional aún mejor. En esta receta mezclamos zanahoria, 
                calabacita, cebolla y ajo con la carne molida. 
            </p>
            <p>Hay hasta 22 gramos de proteína y 2.2 mg de <%= link_to "hierro", pages_hierro_path%> en 85 gramos de carne molida. 
            El hierro es esencial para el desarrollo normal del cerebro y los niños entre <%= link_to "7 y 12 meses necesitan 11 mg diarios", pages_hierro_path%>.
            <p><b>La vitamina C ayuda a la absorción del hierro</b>, entonces puedes echarle 
            unas gotas de limón fresco o comerla con esta <%= link_to "salsa de jitomate", pages_salsas_sencillas_path%> rápida y fácil, ambas ricas en vitamina C. 
            O acompañarlo con otros <%= link_to "alimentos con mucha vitamina C", pages_lista_alimentos_hierro_path%> como el brócoli y pimientos rojos o fresas, kiwi y papaya de postre. 
            </p>
            <h3>
                Instrucciones
            </h3>
            <p>
                Fríe la <b>cebolla</b> y el <b>ajo</b> en aceite (yo a veces cocino con aceite de coco) o
            mantequilla.
            </p>
            <div>
                <img src="/assets/Recetas/Hamburguesas 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En el mismo sartén agrega la <b>zanahoria</b> y <b>calabacita</b> y cocina unos
            minutos hasta que cambien de color, moviendo constantemente.</p>
            <div>
                <img src="/assets/Recetas/Hamburguesas 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Deja enfriar un poco y con las manos, mezclar junto con la <b>carne
            molida</b> y echar el <b>orégano</b>.</p>
            <div>
                <img src="/assets/Recetas/Hamburguesas 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Hacer hamburguesitas del tamaño que quieras. Si se las vas a dar solas sin pan te recomiendo que sean del tamaño de su puño para que pueda agarrarlas fácilmente.</p>
            <div>
                <img src="/assets/Recetas/Hamburguesas 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Calentar el sartén, agregar mantequilla o aceite de coco (o el de tu preferencia) y bajar el fuego a medio-bajo. Y dejar cocinar las hamburguesas lentamente sin aplastar la hamburguesa contra el sartén porque esto le quita sus deliciosos jugos.
            </p>
            <div>
                <img src="/assets/Recetas/Hamburguesas 6.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br>
            <p>Si quieres que tu hamburguesa tenga un poco más de color, al final de la cocción incrementa  el fuego unos minutos.</p> 
            <p>Para evitar enfermedades, <b>se recomienda comer carne bien cocida sobre todo si es para un niño</b>. La mejor manera de 
                saber cuando tu hamburguesa está lista es cuando un termómetro de cocina marque 77°C (170°F). 
                Si no tienes un termómetro, con la punta de un cuchillo perfora el centro y abre un poco, si los jugos están claros 
                y el centro ya no es rosado, entonces están listas. Si sigue un poco rosita el centro, es que todavía le falta unos cuantos minutos.</p>
            <h3>
                Instrucciones
            </h3>
            <ol>
    <li>
        <p>
            Fríe la <b>cebolla</b> y el <b>ajo</b> en aceite (yo cocino con aceite de coco) o
            mantequilla.
        </p>
    </li>
    <li>
        <p>
            En el mismo sartén agrega la <b>zanahoria</b> y <b>calabacita</b> y cocina unos
            minutos hasta que cambien de color, moviendo constantemente.
        </p>
    </li>
    <li>
        <p>
            Deja enfriar un poco y con las manos, mezclar junto con la <b>carne
            molida</b> y echar el <b>orégano</b>.
        </p>
    </li>
    <li>
        <p>
            Hacer hamburguesitas del tamaño que quieras. Si se las vas a dar
            solas sin pan te recomiendo que sean del tamaño de su puño para que
            pueda agarrarlas fácilmente.
        </p>
    </li>
    <li>
        <p>
            Calentar el sartén, agregar mantequilla o aceite de coco (o el de
            tu preferencia) y bajar el fuego a medio-bajo. Y dejar cocinar las
            hamburguesas lentamente sin aplastar la hamburguesa contra el
            sartén porque esto le quita sus deliciosos jugos.
        </p>
    </li>
    <li>
        <p>
            Si quieres que tu hamburguesa tenga un poco más de color, al final
            de la cocción incrementa el fuego unos minutos.
        </p>
    </li>
    <li>
        <p>Para evitar enfermedades, se recomienda comer carne bien cocida sobre
        todo si es para un niño. La mejor manera de saber cuando tu hamburguesa
        está lista es cuando un termómetro de cocina marque 77°C (170°F). Si no
        tienes un termómetro, con la punta de un cuchillo perfora el centro y
        abre un poco, si los jugos están claros y el centro ya no es rosado,
        entonces están listas. Si sigue un poco rosita el centro, es que
        todavía le falta unos cuantos minutos.</p>
    </li>
</ol>
            <div class="row">
                <a href="/pages/salsas_sencillas">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/851x315/Chkp patties 851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>Recetas sin sal ni azúcar</h3>
                                <p>Las recetas son para bebés 6+ meses, pero debes adecuar tamaño...</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pages/hierro">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/PepperMeat851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>La importancia del hierro</h3>
                                <p>La falta de hierro afecta el desarrollo cerebral y puede causar problemas...</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pages/introduccion_de_sabores">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/851x315/Introduccion de sabores.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>Desarrolla su paladar</h3>
                                <p>Podría aprender a gustarle cualquier comida de cualquier cultura del....</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>