<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">¿Qué es el baby-led weaning?</h1>

        </div>
    </div>
</div>