<div class="container">
    <div class="jumbotron-narrow">
        <div class="container content">
            <h1 class="entry-title">Tienda</h1>
            <br>
            <h4>Próximamente tendremos muchos productos que te van a facilitar
            las comidas.</h4>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>