<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Videos</h1>
           <div class="containerVid center">
                <div class="row"></div>
                <div class="center">
                    <h2 id="videoCarlosTed">¿Cómo saber si tu bebé está listo?</h2>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/exhLKNl0XpQ"></iframe>
                    </div>
                    </br>
                    <p>Un video de un minuto para conocer las señales que está listo para empezar.
                    </p>
                </div>
            </div>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        <h2 id="videoCarlosTed">¿Qué es baby-led weaning (blw)?</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHtxfcKXl6g"></iframe>
                        </div>
                        </br>
                        <p>BLW explicado en 1 minuto. No papillas ni comida especial para bebé. Deja que tu bebé aprenda a gozar la comida y tu la hora de comer.</p>
                    </div>
                </div>
            </div>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        <h2 id="videoCarlosTed">Carlos González en TEDX Valencia</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vKioOmhIfGU"></iframe>
                        </div>
                        </br>
                        <p>Un video de 18 minutos, práctico y conciso donde se explica porqué son inecesarios los purés y las papillas. Se los recomiendo mucho.</p>
                    </div>
                </div>
            </div>
            <div class="containerVid center" id="videoJugos">
                <div class="row"></div>
                <div class="center">
                    <h2 id="videoCarlosTed">Limita el consumo de jugos de frutas</h2>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bqs7kD4vW9U"></iframe>
                    </div>
                    </br>
                    <p>Si tu niño tiene menos de 12 meses, evitalos por completo y limita su consumo despues de esa edad 
                    porque contienen mucha azucar y poco beneficio nutricional. En su lugar dales agua o <%= link_to "infusiones de agua", pages_agua_de_sabor_path%>, y fruta entera.
                    </p>
                </div>
            </div>
            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        <h2 id="videoCarlosTed">120 días de BLW en 5 minutos</h2>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JCQeAtLM7EE"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>