<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Comida ideal para empezar BLW</h1>
            <div>
                <img src="/assets/851x315/Empanada.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Esto es lo divertido y fascinante de baby led weaning </b>o auto alimentación: le puedes ofrecer mucho más de lo que jamás imaginaste! No añadir sal y es preferible que tampoco tenga azúcar, aditivos o conservadores
                ni mucha grasa. Pero excluyendo eso, todo lo que comes tu lo puede comer tu bebé, siempre y cuando los alimentos sean frescos y nutritivos. ¿Pasta boloñesa? ¡Perfecto! ¿Mango y fresas? ¡Claro! ¿Curry Thai de pollo con pimientos rojos?
                ¡Sí! Olvídate de lo que crees saber hasta ahora, si tu bebé cumple con los <%=link_to"requisitos para comenzar", pages_edad_para_empezar_blw_path%> baby led weaning o auto alimentación, es hora de ayudar a tu bebé a descubrir el maravilloso mundo de la comida!
            </p>
            <br/>
            <p>
                Hay algunos alimentos que son ‘ideales’ para el principio. ¿Por qué? Porque son alimentos muy nutritivos, sanos y que se prestan fácilmente a ser manipulados por manitas pequeñas. También es bueno privilegiar
                <%=link_to"alimentos altos en hierro", pages_hierro_path%> como la carne, pescado, pollo y huevo y alimentos con alto contenido energético. Pero en realidad puedes comenzar con lo que quieras. Además no le temas al sabor y usa especias! Agrégale canela, jengibre, perejil, ajo, mantequilla, cebolla,
                    cilantro o lo que quieras para darle un buen sazón. Deja al lado alimentos sosos y desabridos. Aquí una lista de alimentos ‘fáciles’ para comenzar BLW:
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Primeros alimentos</li>
                    <li class="list-group-item">Aguacate*</li>
                    <li class="list-group-item">Plátano*</li>
                    <li class="list-group-item">Mango*</li>
                    <li class="list-group-item list-group-item-success">Carne de res, cordero o puerco**</li>
                    <li class="list-group-item list-group-item-success">Pollo**</li>
                    <li class="list-group-item">Manzana bien cocida sin cáscara</li>
                    <li class="list-group-item">Zanahoria cocida</li>
                    <li class="list-group-item">Calabacita cocida</li>
                    <li class="list-group-item">Papa cocida o a la francesa (al horno o fritas en mantequilla no aceite)</li>
                    <li class="list-group-item list-group-item-success">Huevo revuelto**</li>
                    <li class="list-group-item list-group-item-success">Avena fortificada con hierro</li>
                    <li class="list-group-item">Pasta</li>
                    <li class="list-group-item list-group-item-success">Hummus**</li>
                    <li class="list-group-item">Pan tostado</li>
                    <li class="list-group-item">Pan francés</li>
                    <li class="list-group-item list-group-item-success">Frijoles machacados**</li>
                    <li class="list-group-item list-group-item-success">Hígado rallado o pate**</li>
                    <li class="list-group-item list-group-item-success">Robalo, sardinas, arenque, trucha arcoiris, salmón, huachinango, curbina, carpa y mero entre otros**</li>
                    <li class="list-group-item">Yogur sin azúcar</li>
                </ul>
            </div>
            <p>
                ** Comida alta en hierro. Los alimentos más comunes son la carne, el pescado y las aves. Pero <%=link_to "aquí", pages_hierro_path%> tenemos una lista con más alimentos.
            </p>
            <br/>
            <p>
                *A los alimentos ‘resbalosos’ como el aguacate, plátano y mango por ejemplo, les puedes dejar la cascara para que sea más fácil agarrarlos. Al plátano lo puedes dejar mitad con cáscara y mitad sin, permitiendo a tu bebé de agarrar la parte de cáscara
                y probar la parte sin cáscara. Al mango y aguacate los puedes partir en rebanadas e igualmente dejarles la cáscara por fuera.
            </p>
            <br/>
            <p>
                El yogur es preferible sin azúcar, ni frutas, ni purés para endulzarle. El gusto por lo endulzado es una preferencia que desarrollamos después por la comida endulzada, pero tu bebé es nuevo y el yogur sencillo le gustará mucho. Es lo mejor y más sano.
            </p>
            </br>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Ya que desarrolle el agarre de pinza:</li>
                    <li class="list-group-item">Frambuesas</li>
                    <li class="list-group-item">Fresas cortadas</li>
                    <li class="list-group-item">Cereal sin azúcar (O con menos de 10% de azúcar como Cheerios sencillos)</li>
                    <li class="list-group-item">Bluberries</li>
                    <li class="list-group-item">Chícharos</li>
                </ul>
            </div>

            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Comida con alto contenido energético:</li>
                    <li class="list-group-item"><b>Toda la comida </b><u>excepto</u> la mayoría de frutas y verduras</li>
                    <li class="list-group-item">Frutas con alto contenido energético: plátano y aguacate</li>
                    <li class="list-group-item">Verduras con alto contenido energético: papa, camote y calabaza</li>
                </ul>
            </div>
            <br/>
            <p>
                Recuerda que todos los alimentos <b>deben deshacerse fácilmente cuando lo aplastas entre tu pulgar e índice </b>y su tamaño debe ser más largo que el puño de tu bebé para que cuando lo agarre, le sobre un pedazo que pueda probar.
            </p>
            <br/>
            <p>
                No olvides que al principio tu bebé no comerá mucho, la hora de la comida será más bien como una actividad divertida. Poco a poco irá asociando que los objetos con los que juega saben rico. Por eso a la hora de escoger qué alimentos dar, elije comida
                <b>altamente energética y con hierro</b>. Pero al principio se trata de dejar a tu bebé explorar texturas, colores y olores. ¡Déjalo que se divierta y diviértete tú! Y no olvides la cámara, ¡habrá momentos memorables!
            </p>
            <br/>
            <p>
                Continúa con las tomas de leche normales. Justo después de una toma es el momento ideal para sentarlo en su sillita. Un bebé con hambre o cansado no va a querer jugar. <em>Se trata de comenzar una buena relación con la comida.</em> Por
                lo mismo el bebé y tu deben de estar en la mejor disposición.
            </p>
            <br/>
            <p>
                Usa tu sentido común al introducir comida. No le des a tu bebé comida chatarra (con altos niveles de sal, azúcar o grasa) ni de restaurante porque suelen tener mucha sal. Tampoco les des
                <%=link_to "alimentos peligrosos", pages_alimentos_peligrosos_path%>. Aquí una lista no exhaustiva con algunos de los alimentos a evitar:
            </p>
            <br/>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos a <b>evitar</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Comida redonda </b>con la que se pueden ahogar fácilmente: Uvas, jitomates cherry, salchichas, cerezas etc. Éstas hay que cortarlas verticalmente para evitar que sean una forma redonda.
                    </li>
                    <li class="list-group-item">Sal: la cantidad máxima que un bebé debe consumir de sal es ¼ de cucharada porque los riñones tu bebé no están desarrollados para eliminar adecuadamente la sal. La fórmula y la leche materna ya contienen sodio entonces agregarle aunque
                        sea un poco de sal a la comida de tu bebé seguramente pasará los límites recomendados.</li>
                    <li class="list-group-item">Azúcar: Esto es una preferencia personal a la comida endulzada que desarrollamos desgraciadamente porque casi todo contiene azúcar. Entonces nuestro paladar se acostumbra a las cosas endulzadas. Evita esto con tu bebé! Es un excelente
                        hábito de vida. En otros países, Japón por ejemplo, se empalagan muy fácilmente porque no tienen un paladar “sobre endulzado”.</li>
                    <li class="list-group-item list-group-item-danger"><b>Miel:</b> La causa más común de botulismo infantil es el consumo de miel porque los bebés no producen suficiente ácidos estomacales para desactivar esporas potenciales</li>
                    <li class="list-group-item list-group-item-danger"><b>*Cereal:</b> si esta muy duro o grande, una opción es remojarlo en leche o yogur</li>
                    <li class="list-group-item list-group-item-danger"><b>*Palomitas</b></li>
                    <li class="list-group-item"><b>Salchichas:</b> Las salchichas además de tener mucha sal, tienen nitrito de sodio, glutamato monosódico, normalmente escondido en el término “sabores artificiales” y muchas otras cosas que tu bebé no necesita</li>
                    <li class="list-group-item list-group-item-danger"><b>*Frutos secos:</b> Puedes utilizarlos para endulzar o molidos.</li>
                    <li class="list-group-item list-group-item-danger"><b>*Chicle</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Dulces</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Papitas</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Pretzels</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Nueces:</b> Puedes hacerlas mantequilla de cacahuate, almendra o de la India y ofrecerla untada en pan o fruta pero nunca entera.</li>
                    <li class="list-group-item">Comida chatarra</li>
                    <li class="list-group-item list-group-item-danger"><b>*Huesos:</b> Debes retirar huesos de la carne antes de dársela a tu bebé. Excepto las sardinas.</li>
                    <li class="list-group-item">Cualquier comida que cause alergia en la familia directa (mamá, papá o abuelos)</li>
                    <li class="list-group-item list-group-item-danger"><b>*Frutas y verduras duras*:</b> Recuerda que deben tener la consistencia correcta (que se pueda deshacer fácilmente entre tu pulgar e índice).</li>
                    <li class="list-group-item list-group-item-danger"><b>*Trozos de carne o queso*:</b> Dáselos en pedazos grandes que pueda morder con las encías y no le quepa entero en la boca.</li>
                    <li class="list-group-item"><b>Huevos no bien cocidos</b></li>
                    <li class="list-group-item"><b>Pescados con alto nivel de mercurio:</b> marlin, pez espada, tiburon, blanquillo, caballa (o jurel), lubina entre otro</li>
                    <li class="list-group-item"><b>Enlatados</b> por su alto contenido de sal</li>
                    <li class="list-group-item"><b>Alimentos preparados</b> (por la misma razón)</li>
                </ul>
                <br/>
                <p>
                    <b>*Alimentos que tienen un <u>alto riesgo de ahogamiento</u>.</b>
                </p>
                </br>
                <p>
                    Esta es una lista no exhaustiva de alimentos. Usa tu juicio de lo que sí puedes darle a tu hijo. Si tienes una duda mejor no. Consulta con tu pediatra la introducción de alimentos sobre todo si hay alergias en tu familia. Pero toma en cuenta que tu pediatra
                    es humano y muchos, tristemente no leen ni se actualizan acerca de métodos diferentes o nuevos. Si tu pediatra te dice que este método no es recomendable, pregunta porqué. Si tiene que ver con el método en sí y no con el caso particular
                    de tu bebé, recomiéndale informarse acerca del método.
                </p>
            </div>
        </div>
    </div>