<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content h1pic">
            <img src="/assets/Avatar Hierro.png" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <h1 class="entry-title">Trufas de Cocoa y Almendras</h1>
        </div>
        <p>
            ¡Si se lo vas a dar a niños menores de 5 años, <b>recuerda que los alimentos redondos son 
                    un <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%></b>! Entonces puedes hacerlas hamburguesitas.
        </p>
        <h3 class="ingredients">Ingredientes</h3>
        <div>

            <br>
            <img src="/assets/Recetas/Trufas.jpg" class="img-fluid img-responsive Thumbnail-left" alt="Responsive image">
            <ul>
                <li>
                    <p>
                        1⅔ tazas (280 gramos) de almendras enteras sin pelar
                    </p>
                </li>
                <li>
                    <p>
                        1⅓ taza (225 gramos) dátiles a temperatura ambiente*
                    </p>
                </li>
                <li>
                    <p>
                        1 plátano grande** (100 gramos)
                    </p>
                </li>
                <li>
                    <p>
                        ⅓ taza (25 gramos) cocoa sin endulzar
                    </p>
                </li>
                <li>
                    <p>
                        1 cucharadita de extracto de vainilla
                    </p>
                </li>
                <li>
                    <p>
                        Una pizca de sal (o sin sal si es para menores de 12 meses)
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                *O ablandarlas con agua muy caliente
            </p>
            <p>
                **El plátano entre más maduro mejor. Las manchas cafés son señal de que está maduro. Es cuando más cantidad de vitaminas y minerales contiene además de las enzimas que ayudan a la digestión.
            </p>
            <br/>
            <br>
            <br>
            <br>
            <p>
                Dátiles, almendras y cocoa son los ingredientes principales de estas trufas. Son una verdadera delicia. Personalmente las dejo en el congelador y me como una cuando tengo un antojo de algo dulce. Y tus hijos pueden comerse varias bolitas porque tienen
                mucho <b>hierro</b>, <b>fibra</b>, <b>proteína</b>, <b>potasio</b>, <b>vitamina E</b>, <b>vitamina B</b> y mucho más. Sólo ten en cuenta que también tienen muchas calorías.
            </p>
            <p>
                La porción recomendada diaria de almendras y frutos secos para niños es de 28 gramos (o 23 almendras) y 1/4 taza (o 4-5 dependiendo del tamaño del dátil). Esto se traduce en aproximadamente 100 gramos de trufas al día. Cuántas trufas depende de qué tan
                grandes las hiciste, pero son tan 'chocolatosas' y dulces que una o dos te quitarán el antojo.
            </p>
            <h3>Instrucciones</h3>

            <p>Si tienes un procesador de alimentos grande, echa todos los ingredientes menos el plátano ahi y pulsa hasta tener una masa. Luego incorpora el plátano, lo puedes machar con el tenedor. Cuando tu masa sea uniforme haz bolitas. Si esta muy suave,
                metela al refri 30 minutos y luego haz bolitas.</p>
            <p>
                Si tienes un procesador pequeño, puedes trabajar en porciones o cada ingrediente individualmente. Asi es como la hice esta vez. Pulsa las almendras hasta que sean casi polvo y échalas en un bol.
            </p>
            <div>
                <img src="/assets/Recetas/Trufas 2.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                En el mismo procesador pica los dátiles y mezclalos con las almendras. Lo puedes hacer con tus manos o en el procesador.
            </p>
            <div>
                <img src="/assets/Recetas/Trufas 3.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Agregar el resto de los ingredientes y mezclar hasta que tengas una masa uniforme. Si está un poco seca échale una cucharadita de agua. La consistencia debe ser suficientemente firme y húmeda para hacer bolitas. Si le falta un poco de firmeza mete la
                masa al refri 30 mins pero normalmente no es necesario.
            </p>
            <div>
                <img src="/assets/Recetas/Trufas 5.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <p>
                Haz bolitas del tamaño que quieras.
            </p>
            <div>
                <img src="/assets/Recetas/Trufas 4.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <br/>
            <p>
                Personalmente me gusta meterlas al congelador porque tienen una consistencia deliciosa. Pero las puedes dejar en el refri si prefieres.
            </p>
            <p>
                En el congelador pueden durar hasta 2 meses (si no te las comes antes) o hasta 3 días en el refri.
            </p>
            <h3>Instrucciones</h3>
            <ol>
                <li>
                    <p>
                        En tu procesador de alimentos, pulsa las almendras hasta que sean casi polvo y échalas en un bol.
                    </p>
                </li>
                <li>
                    <p>
                        En el mismo procesador pica los dátiles y mezclalos con las almendras. Lo puedes hacer con tus manos o en el procesador.
                    </p>
                </li>
                <li>
                    <p>
                        Agregar el resto de los ingredientes y mezclar hasta que tengas una masa uniforme. Si está un poco seca échale una cucharadita de agua. La consistencia debe ser suficientemente firme y húmeda para hacer bolitas. Si le falta un poco de firmeza mete la
                        masa al refri 30 mins pero normalmente no es necesario.
                    </p>
                </li>
                <li>
                    <p>
                        Haz bolitas del tamaño que quieras.
                    </p>
                </li>
                <li>
                    <p>
                        Personalmente me gusta meterlas al congelador porque tienen una consistencia deliciosa. Pero las puedes dejar en el refri si prefieres.
                    </p>
                </li>
            </ol>
            <p>
                En el congelador pueden durar hasta 2 meses (si no te las comes antes) o hasta 3 días en el refri.
            </p>
            <br>
        </div>
    </div>