/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container .jumbotron p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-size: 1.7rem;
  /*font-weight: 400;*/
  line-height: 1.25;
}

/*Makes text background white*/
.container .jumbotron{
   background: #ffffff; 
}

.cont{
    background-color: #f8f8f8;
    width: 100%;
}

.cont .container{
    background-color: #f8f8f8;    
}

/*H1 titles*/
.jumbotron .entry-title{
    margin-bottom: 15px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 25px;
}

.jumbotron h2{
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
  font-family: 'Roboto Slab', sans-serif;
}

/*H3*/
.entry-content {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
}

/*Navbar font*/
.navbar-default { 
  /*font-size: 16px;*/
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
}

/*Nav Pill font (about, tienda etc)*/
.nav-pills{
  font-size: 18px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

/*BLW en Espanol font color*/
#brand{
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #eb7200; /*orange  123*/
  /*line-height: 1.2;*/
}

.nav-pills a:link, .nav-pills a:visited, .nav-pills a:hover, .nav-pills a:active{
  color: #70548b; /*purple*/
  font-weight: 700;
}


/*Mute the second title of featurettes*/
.col-md-7 .featurette-heading a:link, .col-md-7 .featurette-heading a:visited, .col-md-7 .featurette-heading a:hover, .col-md-7 .featurette-heading a:active{ 
    text-decoration: none; 
    color: #777;
}