/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container .jumbotron p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-size: 1.7rem;
  /*font-weight: 400;*/
  line-height: 1.25;
}

/*Makes text background white*/
.container .jumbotron{
   background: #ffffff; 
}

.cont{
    background-color: #f8f8f8;
    width: 100%;
}

.cont .container{
    background-color: #f8f8f8;    
}

/*H1 titles*/
.jumbotron .entry-title{
    margin-bottom: 15px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 25px;
    text-align: left;
}

/*No space between Navbar and Carousel*/
.navbar{
  margin-bottom: 0px;
}

.jumbotron h2{
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
  font-family: 'Roboto Slab', sans-serif;
}

/*H3*/
.entry-content {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
}

/*Navbar font*/
.navbar-default { 
  /*font-size: 16px;*/
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
}

/*Nav Pill font (about, tienda etc)*/
.nav-pills{
  font-size: 18px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

/*BLW en Espanol font color*/
#brand{
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #eb7200; /*orange  123*/
  /*line-height: 1.2;*/
}

.nav-pills a:link, .nav-pills a:visited, .nav-pills a:hover, .nav-pills a:active{
  color: #70548b; /*purple*/
  font-weight: 700;
}

/*Leer button stays white*/
#myCarousel a:link, #myCarousel a:visited, #myCarousel a:hover, #myCarousel a:active{ 
    text-decoration: none; 
    color: #ffffff;
}

/*View details in Marketing is gray*/
.col-lg-4 a:link, .col-lg-4 a:visited{ 
    text-decoration: none; 
    color: #777;
}

/*View details in Marketing is blue when hover*/
.col-lg-4 a:hover{ 
  color: #337ab7;/*blue*/
}


/*Mute the second title of featurettes*/
.col-md-7 .featurette-heading a:link, .col-md-7 .featurette-heading a:visited, .col-md-7 .featurette-heading a:hover, .col-md-7 .featurette-heading a:active{ 
    text-decoration: none; 
    color: #777;
}

a:visited{
  color: #eb7200; /*orange*/
}

a:hover{
  color: #777;
}

.onceUpon{
  font-weight: bold;
}

.containerVid {
  margin-bottom: 20px;
  padding-bottom: 50px;
}

#videoCarlosTed{
  text-align: center;
}

/* Doesnt seem to work Hide AddToAny vertical share bar when screen is less than 980 pixels wide */
@media screen and (max-width: 680px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}

/*Justifies content (nicely squared) */
.container .jumbotron .content{
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

.quoteContent{
  font-style: italic;
}

.quotes{
  font-size: 150%;
}

.circles{
  text-align: center;
}

/*Center Video of TEDXValencia*/
.center {
    margin: 0 auto;
    width: 80%;
}

th {
    background-color: #4CAF50;
    color: white;
}

.PhotoCred {
  text-align: center;
}

.imageText {
  float: left;
  margin-right: 9px;
}
/*================ Mobile Media Queries for responsive css =================*/
/* Custom, iPhone Retina */
//	@media only screen and (min-width : 34em){
   
//	}
 
	/* Extra Small Devices, Phones */
//	@media only screen and (min-width : 48em){
 
//	}
 
	/* Small Devices, Tablets */
//	@media only screen and (min-width : 62em){
 
//	}
 
	/* Medium Devices, Desktops */
//	@media only screen and (min-width : 75em){
 
//	}
 
	/* Large Devices, Wide Screens */
//	@media only screen and (min-width : 1200px){
 
//	}

/* CUSTOMIZE THE CAROUSEL without this the carousel is deformed
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  // height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
// .carousel-caption {
//   z-index: 10;
// }

/*Declare heights because of positioning of img element */
.carousel .item {
//   height: 500px;
background-color: #777;
 }
// .carousel-inner > .item > img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 500px;
//   object-fit: contain;
// }

/*
.item img {
    width: 100%;
    height: auto;
  }

/*
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  height: none;
}
/*
img {
        height: 100px;
        width: 100px;
        object-fit: contain;
}*/

/*
img {
        height: 100px;
        width: 100px;
        object-fit: contain;
}*/

/*.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

